<template>
  <div class="content_page">
    <section class="pages">
      <div class="container pages__container">
        <h3 class="pages__title">{{page.title}}</h3>

        <div class="pages__content" v-html="page.content"></div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  // data() {
  //   return {
  //     page: {}
  //   }
  // },
  async asyncData({ app, params, error }) {
    try {
      const page = await app.$axios.$get(`/block/pages/${params.slug}/`)
      return { page: page }
    } catch (e) {
      error({
        message: 'Página no encontrada',
        statusCode: 404,
        type: 'page'
      })
    }
  }
}
</script>
