.about {
  background-color: $color-white;
  &__container {
    padding: 10rem 0;
    h1 {
      color: $color-black;
      width: 70%;
    }
    &--text {
      font-size: 23px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5rem;
      font-family: $roboto-regular;
      margin: 8rem 0;
    }
    &--image {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5rem;
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        object-position: top;
      }
      p {
        font-family: $roboto-medium;
        margin-top: 20px;
        font-size: 20px;
      }
      span {
        font-family: $roboto-regular;
        font-size: 20px;
      }
    }
    &--partners {
      background-color: $color-main;
      text-align: center;
      margin: 8rem 0 3rem 0;
      padding: 5rem 0;
      h2 {
        color: $color-white;
        font-size: 65px;
      }
      p {
        color: $color-white;
        font-family: $roboto-regular;
        font-size: 23px;
        width: 70%;
        margin: 3rem auto;
      }
      svg {
        width: 30px;
        margin-right: 0.5rem;
        transition: $animation;
      }
      .btnLanding {
        margin: 0 auto;
      }
    }
    @media (max-width: 980px) {
      &--image {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (max-width: 870px) {
      h1 {
        width: 100%;
      }
    }
    @media (max-width: 740px) {
      &--text {
        grid-template-columns: 1fr;
      }
      &--image {
        grid-template-columns: repeat(2, 1fr);
      }
      &--partners {
        h2 {
          line-height: 45px;
        }
        p {
          width: 90%;
        }
      }
    }
    @media (max-width: 480px) {
      &--image {
        grid-template-columns: 1fr;
        img {
          height: 400px;
        }
      }
    }
  }
}