.arellano {
  background-color: $color-white;
  &__container {
    padding: 5rem 0;
    text-align: center;
    h2 {
      width: 95%;
      font-size: 57px;
      margin: 0 auto;
    }
    svg {
      width: 30px;
      margin-right: 0.5rem;
      transition: $animation;
    }
    .btnLanding {
      margin: 0 auto;
      margin-top: 3rem;
    }
    @media (max-width: 950px) {
      padding-bottom: 8rem;
      h2 {
        width: 100%;
        line-height: 52px;
        font-size: 45px;
      }
    }
    @media (max-width: 450px) {
      h2 {
        font-size: 35px;
        line-height: 32px;
      }
    }
  }
}