.beneficios {
  background-color: $color-white;
  &__container {
    text-align: center;
    padding: 5rem 0;
    h2 {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 5rem;
    }
    &--main {
      padding: 5rem;
      display: grid;
      grid-template-columns: 1fr 0.8fr;
      grid-gap: 5rem;
      align-items: center;
      background-color: $color-gray;
      text-align: left;
      .image {
        img {
          width: 100%;
          height: 550px;
          object-fit: cover;
        }
      }
      .text {
        h2 {
          margin-bottom: 3rem;
          margin-left: 1.5rem;
        }
        div {
          font-size: 1rem;   
          margin-right: 3rem;     
          &:before {
            position: absolute;
            content: '';
            left: 0.6rem;
            top: 0.5rem;
            bottom: 0;
            background-color: $color-black;
            opacity: 0.1;
            width: 0.5px;
          }
          &:last-child::before{
            background-color: transparent;
          }
          strong {
            font-family: $roboto-regular;
          }
          label {
            font-family: $roboto-regular;
            margin-bottom: 1.5rem;
            cursor: pointer;
          }
        }
      }
    }
    @media (max-width: 1040px) {
      h2 {
        width: 100%;
      }
      &--main {      
        grid-gap: 3rem;  
        .text {
          div {
            margin-right: 0;
          }
        }
      }
    }
    @media (max-width: 980px) {
      &--main {
        grid-template-columns: 1fr 0.5fr;
        .text {
          h2 {
            margin-left: 0;
            font-size: 40px;
          }
        }
      }
    }
    @media (max-width: 880px) {
      &--main {
        grid-template-columns: 1fr;
        .image {
          img {
            height: 350px;
          }
        }
      }
    }
  }
  @media (max-width: 680px) {
    background-color: $color-gray;
    &__container {
      &--main {
        padding: 0;
      }
    }
  }
}