.blog {
  background-color: $color-white;
  &__container {
    padding: 3rem 0 5rem 0;
    h3 {
      strong {
        font-family: $haptik-bold;
      }
      .punto {
        font-family: $haptik-bold;
        color: $color-black;
      }
    }
    .btnLanding {
      margin: 0 auto;
      &:hover svg {
        transform: translateX(5px)
      }
    }
    svg {
      width: 8px;
      margin-left: 0.5rem;
      transition: $animation;
    }
    .description {
      color: $color-black;
      width: 35%;
    }
    &--main {
      display: grid;
      margin-top: 3rem;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      margin-bottom: 3rem;
      .image {
        img {
          width: 100%;
          height: 170px;
          object-fit: cover;
        }
      }
      .blog {
        transition: $animation;
        display: grid;
        grid-template-columns: 1fr;
        &:hover {
          box-shadow: $box-shadow;
        }
      }
      .text {
        background-color: $color-black;
        padding: 2.5rem;
        h4 {
          font-family: $haptik-bold;
          margin-bottom: 1rem;
          width: 80%;
          font-size: 28px;
        }
        p {
          color: $color-white;
          font-family: $roboto-regular;
          margin-bottom: 1.5rem;
        }
        a {          
          color: $color-white;
          display: flex;
          align-items: center;
          font-family: $roboto-bold;
          &:hover {
            color: $color-main;
          }
          &:hover svg {
            transform: translateX(5px)
          }
        }
      }
    }
    @media (max-width: 950px) {
      .description {
        width: 50%;
      }
      &--main {
        grid-template-columns: 1fr;
        .image {
          img {
            height: 300px;
          }
        }
        .text {
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .blog {
          grid-template-columns: 0.6fr 1fr;
        }
      }
    }
    @media (max-width: 650px) {
      .description {
        width: 100%;
      }
      &--main {
        .image {
          height: 250px;
        }
        .blog {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}