.btnLanding {
  height: 50px;
  font-weight: bold;
  color: $color-black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50px;
  font-family: $roboto-regular;
  outline: none;
  position: relative;
  transition: $animation;
  &-block {
    display: block;
    text-align: center;
    width: 100%;
  }
  &.main {
    color: $color-black;
    background-color: $color-main;
    border-color: $color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5 !important;
    }
    &:hover:not([disabled]) {
      background-color: $color-black;
      border-color: $color-black;
      color: $color-main;
      box-shadow: $box-shadow;
      & svg {
        fill: $color-main;
      }
    }
  }
  &.black {
    color: $color-main;
    background-color: $color-black;
    border-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5 !important;
    }
    &:hover:not([disabled]) {
      box-shadow: $box-shadow;
      color: $color-black;
      background-color: $color-main;
      border-color: $color-main;
      & svg {
        fill: $color-black;
      }
    }
  }

}