@font-face {
  font-family: 'gthaptik-bold';
  src: url('~assets/fonts/landing/GT-Haptik-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'gthaptik-regular';
  src: url('~assets/fonts/landing/GT-Haptik-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-regular';
  src: url('~assets/fonts/landing/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-bold';
  src: url('~assets/fonts/landing/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'roboto-medium';
  src: url('~assets/fonts/landing/Roboto-Medium.ttf');
  font-weight: medium;
  font-style: medium;
}
