.footerLanding {
  background-color: $color-black;
  &__container {
    padding: 5rem 0 3rem 0;
    img {
      width: 80%;
    }
    &--main {
      display: grid;
      grid-template-columns: 0.8fr 1.2fr repeat(2, 1fr) 0.7fr;
      grid-gap: 1.5rem;
      color: $color-white;
      a, span {
        display: block;
      }
      .menu {
        a {
          font-family: $haptik-bold;
          font-size: 18px;
          margin-bottom: 0.9rem;
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            color: $color-main;
          }
        }
      }
      .services, .contact, .social {
        span {
          font-family: $roboto-bold;
          margin-bottom: 0.5rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
        a {
          margin-bottom: 0.5rem;
          opacity: 0.6;
          &:hover {
            opacity: 1;
            color: $color-main;
          }
        }
      }
    }
    @media (max-width: 800px) {
      &--main {
        grid-template-columns: repeat(2, 1fr);
        .image {
          grid-column-start: 1;
          grid-column-end: 3;
          img {
            width: 150px;
            margin-bottom: 1rem;
          }
        }
      }
    }
    @media (max-width: 420px)  {
      &--main {
        grid-template-columns: 1fr;
        .image {
          grid-column-start: 1;
          grid-column-end: 2;
        }
      }
    }
  }
}
.footerFinal {
  color: $color-white;
  font-size: 13px;
  padding: 1.5rem 0;
  @media (max-width: 500px) {
    padding: 1rem 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 20px;
      margin-left: 0.5rem;
      margin-top: -0.2rem;
      transition: $animation;
    }
    .first {
      a, span {
        opacity: 0.6;
      }
      a:hover {
        opacity: 1;
        color: $color-main;
      }
    }
    .second {
      display: flex;
      align-items: center;
      .btnLanding {
        margin-left: 3rem;
      }
    }
    @media (max-width: 1040px) {
        .second {
          .btnLanding {
            margin-left: 0.5rem;
          }
        }
    }
    @media (max-width: 980px) {
        .second {
          .copy {
            display: none;
          }
        }
    }
    @media (max-width: 490px) {
      .second {
        .btnLanding {
          margin-left: 0;
          padding: 0 0.4rem;
          span {
            display: none;
          }
          img {
            margin-left: 0;
            
          }
        }
      }
    }
  }
}
.background-light {
  background-color: $color-black-light;
}