.headerLanding {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--logo {
      display: flex;
      align-items: center;
      // background-color: $color-white;
      z-index: 5;
      .menu {
        background-color: $color-black;
        color: $color-main;
        display: flex;
        align-items: center;
        padding: 0.8rem 1rem;
        font-size: 1.5rem;
        width: 55px;
        cursor: pointer;
      }
      .logo {
        padding-left: 0.5rem;
        img {
          width: 75px;
        }
      }
    }
    &--list {
      color: white;
      display: flex;
      font-family: $roboto-regular;
      z-index: 3;
      @media (max-width: 570px) {
        display: none;
      }
      .item {
        margin-right: 2rem;
        padding: 0.7rem 0;
        cursor: pointer;
        transition: $animation;
        &:hover {
          color: $color-main
        }
      }
      .dropdown-list {
        position: relative;
        ul {          
          position: absolute;
          bottom: -5.6rem;
          left: -1.5rem;
          color: $color-main;
          text-align: right;
          display: none;
          padding: 0 1.5rem 1rem 1.5rem;
          li:hover {
            color: $color-white
          }
        }
        span{
          display: flex;
          align-items: center;
          font-family: $roboto-regular;
          svg {
            transition: $animation;  
            width: 10px;       
          }
        }
        &:hover svg{
          transform: rotate(180deg);
        }
        &:hover ul, ul:hover{
          display: block;
        }
      }
    }
  }
}
.active {
  background-color: $color-black;
  transition: $animation;
  ul {
    background-color: $color-black;
  }
}
.active_2 {
  background-color: $color-black;
  transition: $animation;
  ul {
    background-color: $color-black;
  }
}

.menuComplete {
  background-color: $color-black;
  position: absolute;
  min-height: 500px;
  height: 100vh;
  width: 100%;
  z-index: 4;
  top: 0;
  left: -100vw;
  transition: $animation;
  padding-top: 6rem;
  @media (min-height: 900px) {
    padding-top: 12rem;
  }
  @media (min-height: 900px) {
    padding-top: 12rem;
  }
  @media (max-width: 900px)  {
    padding-top: 5rem;
  }
  &__container {
    .first {
      display: grid;
      grid-template-columns: 0.6fr 1fr;
      .menu {
        a {
          color: $color-white;
          font-size: 30px;
          font-family: $haptik-bold;
          display: block;
          &:hover {
            color: $color-main;
          }
        }
      }
      .weeare {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
        &__item {
          background-color: $color-white;
          overflow: hidden;
          &:hover {
            box-shadow: $box-shadow;
          }
          .item {
            height: 140px;
            padding: 1.5rem;
            img {
              width: 30px;
              margin: 1rem 0;
            }
            span {
              font-family: $haptik-regular;
              line-height: 0.5rem;
              display: block;
              font-size: 20px;
            }
            strong {
              font-family: $haptik-bold;
              font-size: 20px;
            }
          }
          .color {
            height: 90px;
            position: relative;
            a {
              position: absolute;
              font-family: $haptik-regular;
              bottom: 1.5rem;
              right: 1.5rem;
            }
          }
          .gray {
            background-color: $color-gray;
            color: $color-main
          }
          .black {
            background-color: $color-black-light;
            color: $color-white
          }
          .main {
            background-color: $color-main-light;
            color: $color-black;
          }
        }
      }
    }
    .second {
      color: $color-white;
      width: 25%;
      margin-top: 3rem;
      @media (max-height: 600px) {
        display: none;
      }
      span {
        margin-bottom: 0.5rem;
        font-family: $roboto-bold;
      }
      span, a{
        display: block;
      }
      a {
        margin-bottom: 0.5rem;
        opacity: 0.6;
        &:hover {
          opacity: 1;
          color: $color-main;
        }
      }
      .social {
        display: flex;
        img {
          height: 25px;
          margin-right: 1rem;
        }
      }
    }
    @media(max-width:1000px) {
      .first {
        .menu {
          a {
            font-size: 25px;
          }
        }
      }
    }
    @media(max-width:890px) {
      .first {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
        .menu {
          a {
            font-size: 20px;
          }
        }
        .weeare {
          &__item {
            .item {
              height: 100px;
              padding: 1rem;
              img {
                width: 25px;
                margin: 0.5rem 0;
              }
            }
            .color {
              height: 60px;
              a {
                bottom: 1rem;
                right: 1rem;
              }
            }
          }
        }
      }
      .second {
        margin-top: 1.5rem;
        width: 100%;
      }
    }
    @media(max-width:500px) {
      .first {
        grid-gap: 1rem;
        .weeare {
          grid-template-columns: 1fr;
          grid-gap: 1rem;
          &__item {
            display: grid;
            grid-template-columns: 1fr 0.4fr;
            .item {
              height: 60px;
              img {
                display: none;
              }
            }
            .color {
              height: 60px;
            }
          }
        }
      }
    .second {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      span {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .social {
        img {
          height: 18px;
        }
      }
    }
    }
  }
  .footerMenu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.menuActive {
  left: 0;
}