.hero {
  background-image: url('~assets/images/landing/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top -52rem center;
  min-height: 500px;
  height: 100vh;
  max-height: 830px;
  display: flex;
  align-items: center;
  z-index: 0;
  h1 {
    color: $color-white;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    min-height: 500px;
    height: 100vh;
    max-height: 830px;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 1;
  }
  &__container {
    z-index: 2;
    &--text {
      width: 65%;
      span {
        font-family: inherit;
      }
      p {
        margin: 1.5rem 0;
        font-size: 1.3rem;
      }
      svg {
        width: 30px;
        margin-right: 0.5rem;
        transition: $animation;
      }
    }
  }
  @media (max-width: 1090px){
    background-position: top -30rem center;
  }
  @media (max-width: 870px){
    background-position: top -10rem center;
    &__container {
      text-align: center;
      &--text {
        width: 100%;
        p {
          width: 80%;
          margin: 1.5rem auto;          
        }
        .btnLanding {
          margin: 0 auto;
        }
      }
    }
  }
  @media (max-width: 620px) {
    background-position: center;
    p { 
    font-size: 1.1rem;
    }
  }
}