.partners {
  text-align: center;
  background-color: $color-white;
  &__container {
    padding: 5rem 0;
    span {
      font-size: 40px;
      font-family: $roboto-regular;
    }
    h2 {
      width: 70%;
      margin: 0 auto;
    }
    &--slider {
      margin-top: 3rem;
      .item {
        height: 100px;
        display: flex;
        align-items: center;
        img{
          max-width: 50%;
          margin: 0 auto;
          filter: grayscale(100%);
          &:hover {
            filter: grayscale(0%)
          }
        }
      }
      .tns-nav {
        margin-bottom: -3rem;
        z-index: 1;
        button {
          background-color: $color-black;
          opacity: 0.5;
          outline: none;
        }
        &-active {
          background-color: $color-main !important;
          opacity: 1 !important;
        }
      }
    }
  }
  @media (max-width: 950px){
    &__container {
      h2 {
        width: 100%;
      }
    } 
  }
}