h1 {
  font-size: 65px;
  font-family: $haptik-bold;
}
h2 {
  font-family: $haptik-bold;
  font-size: 45px;
  line-height: 46px;
  color: $color-black;
}
h3 {
  font-family: $haptik-regular;
  font-size: 50px;
}
.contenedor {
  width: 85%;
  margin: 0 auto;
  max-width: 1280px;
}
@media (max-width: 540px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 35px;
    line-height: 32px;
  }
  h3 {
    font-size: 40px;
  }
  .contenedor {
    width: 90%;
  }
}
@media (max-width: 440px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 35px;
  }
}
p {
  font-family: $roboto-regular;
}
span {
  font-family: inherit;
}
.color-main {
  color: $color-main;
}
a {
  color: inherit;
  font-family: $roboto-regular;
  &:hover {
    color: inherit;
  }
}