$color-black: #303030;
$color-black-light: #494949;
$color-gray: #f5f5f5;
$color-main: #00b16c;
$color-main-light: #9AE1C5;
$color-main-dark: #46C896; 
$color-white: #fff;

$haptik-bold: 'gthaptik-bold';
$haptik-regular: 'gthaptik-regular';
$roboto-regular: 'roboto-regular';
$roboto-bold: 'roboto-bold';
$roboto-medium: 'roboto-medium';

$box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
$animation: 200ms all ease-in-out;
