.weeare {
  &__container {
    padding: 5rem 0;
    &--text {
      p {
        width: 35%;
        color: inherit;
      }
      strong {
        font-family: $haptik-bold;
      }
      .punto {
        font-family: $haptik-bold;
      }
    }
    &--item{
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(2 ,1fr);
      grid-gap: 3rem;
      align-items: center;
      .image {
        height: 500px;
        width: 100%;  
      }
      p {
        font-size: 30px;
        width: 60%;
        margin-bottom: 1rem;
        color: inherit;
      }
      .btnLanding {
        svg {
          width: 8px;
          margin-left: 0.5rem;
          transition: $animation;
        }
        &:hover svg{
          transform: translateX(5px)
        }
      }
      .left {
        text-align: right;
        p {
          margin-left: auto;
        }
        .btnLanding {
          margin-left: auto;
        }
      }
    }
  }
  @media (max-width: 950px) {
    &__container {
      &--text {
        p {
          width: 50%;
        }
      }
      &--item {
        p {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 650px) {
    &__container {
      &--text {
        p {
          width: 100%;
        }
      }
      &--item {
        grid-template-columns: 1fr;
        p {
          font-size: 25px;
        }
        .image {
          height: 350px;
        }
        .image:nth-child(1) {
          grid-row-start: 1;
          grid-row-end: 2;
        }
        .right {
          grid-row-start: 2;
          grid-row-end: 3;
        }
        .left {
          grid-row-start: 4;
          grid-row-end: 5;
        }
        .image:nth-child(2) {
          grid-row-start: 3;
          grid-row-end: 4;
        }
      }
    }
  }
}
.white {
  background-color: $color-white;
  color: $color-black;
  .image {
    background-color: rgba(199, 199, 199, 0.3);
  }
  .punto {
    color: $color-black;
  }
}
.black {
  background-color: $color-black;
  color: $color-white;
  .image {
    background-color: rgba(199, 199, 199, 0.2);
  }
  .punto {
    color: $color-white;
  }
}
.main {
  background-color: $color-main-light;
  color: $color-black;
  .image {
    background-color: rgba(228, 228, 228, 0.5);
  }
  h3{
    span {
      color: $color-black;
    }
    .punto {
      color: $color-main;
    }
  }
}