$color-black: #000000;
$color-black2: #333333;
$color-black3: #656565;
$color-green: #3ca868;
$color-white: #ffffff;
$color-white-semi-transparent: #f8f9faf7;
$color-shadow1: rgba(0, 0, 0, 0.5);
$color-shadow2: #ffffff;
$color-gray1: #b0afb0;
$color-gray2: #f2f3f5;
$color-gray3: #d8d8d8;
$color-gray4: #5b5b5b;
$color-gray5: #d4d4d4;
$color_red: #ff4058;
$color-transparent: transparent;

$mobile: '(min-width: 425px)';
$tablet: '(min-width: 768px)';
$laptop-small: '(min-width: 992px)';
$laptop: '(min-width: 1024px)';
$desktop-small: '(min-width: 1200px)';
$desktop: '(min-width: 1441px)';
$font-weeare-Light: 'workSansLight';
$font-weeare-SemiBold: 'WorkSansSemiBold';
$font-weeare-Bold: 'workSansBold';
