<template>
  <div class="card mt-3 ">
    <div class="row no-gutters">
      <div class="col-md-5">
        <div
          class="card-image"
          :style="{ 'background-image': 'url(' + code.product_image + ')' }"
        ></div>
      </div>
      <div class="col-md-7">
        <div class="card-body card-body-product-text-scroll">
          <h5 class="card-title">
            <strong>{{ code.product_name }}</strong>
          </h5>
          <div
            class="card-text card-text-w"
            v-html="code.product_description"
          ></div>
          <ButtonLoading
            :loading="loading"
            @click.native="getPdf(code.id)"
            class="btn btn-outline-dark btn-sm mt-3"
            >Descargar</ButtonLoading
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ButtonLoading from '@/components/base/ButtonLoading'
export default {
  name: 'ProfileProductCard',
  props: ['code'],
  data() {
    return {
      loading: false
    }
  },
  components: {
    ButtonLoading
  },
  methods: {
    getPdf(id) {
      const self = this
      self.loading = true
      self
        .$axios({
          method: 'get',
          url: '/account/deals/' + id + '/pdf/',
          responseType: 'blob'
        })
        .then(function(response) {
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', self.code.product_name + '.pdf')
          document.body.appendChild(link)
          link.click()
          self.loading = false
        })
        .catch(function(error) {
          self.loading = false
        })
    }
  }
}
</script>
