<template>
  <div class="card profile__card-info">
    <div class="card-header card-header-w">Editar perfil</div>
    <div class="card-body">
      <form action="put" @submit.prevent="putProfile()">
        <div class="form-group">
          <label for>Documento de Identidad</label>
          <input type="text" class="form-control" v-model="num_document" disabled />
        </div>
        <div class="form-group">
          <label for>Nombres</label>
          <input type="text" class="form-control" v-model="first_name" />
        </div>
        <div class="form-group">
          <label for>Apellidos</label>
          <input type="text" class="form-control" v-model="last_name" />
        </div>
        <div class="form-group">
          <label for>Email</label>
          <input type="text" class="form-control" v-model="email" />
          <p v-if="hasError('email')" v-for="err in getError('email')" class="err">{{err}}</p>
        </div>
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-outline-dark btn-sm mr-2"
            @click.prevent="goBackProfileRead()"
          >Regresar</button>
          <ButtonLoading :loading="load_profile" class="btn btn-success btn-sm">Guardar</ButtonLoading>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import ButtonLoading from '@/components/base/ButtonLoading'
import { setFirstName, setLastName, setEmail } from '@/utils/auth'
import errorDJ from '@/mixins/errorDJ'
export default {
  name: 'ProfileEdit',
  components: {
    ButtonLoading
  },
  mixins: [errorDJ],
  data() {
    return {
      num_document: '',
      first_name: '',
      last_name: '',
      email: '',
      load_profile: false
    }
  },
  created() {
    this.num_document = this.$cookies.get('num_document')
    this.first_name = this.$cookies.get('first_name')
    this.last_name = this.$cookies.get('last_name')
    this.email = this.$cookies.get('email')
  },
  methods: {
    goBackProfileRead() {
      this.$emit('setRead')
    },
    putProfile() {
      const self = this
      self.load_profile = true
      this.$axios
        .put('account/profile/edit/', {
          first_name: self.first_name,
          last_name: self.last_name,
          email: self.email
        })
        .then((response) => {
          self.load_profile = false
          setFirstName(response.data.first_name)
          setLastName(response.data.last_name)
          setEmail(response.data.email)
          self.goBackProfileRead()
        })
        .catch((error) => {
          self.load_profile = false
          self.errorsDj = error.response.data
        })
    }
  }
}
</script>
