<template>
  <div class="products__container">
    <CategoryItem :category="category" v-for="category in categoryList" :key="category.id" />
  </div>
</template>
<script>
import CategoryItem from './CategoryItem'
export default {
  name: 'CategoryList',
  props: ['categoryList'],
  components: {
    CategoryItem
  }
}
</script>
