.section_category {
  &__title {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: $font_bold;
      font-size: 30px;
    }
    img {
      margin-right: 15px;
    }
  }
}
.category_skeleton {
  margin-bottom: 30px;
  &__item {
    margin-bottom: 10px;
    display: flex;
  }
  &__image {
    width: 45px;
    height: 45px;
    background-color: hsl(0, 0%, 89%);
    animation: fading 2s infinite;
    margin-right: 10px;
  }
  &__title {
    width: 210px;
    height: 45px;
    background-color: hsl(0, 0%, 89%);
    animation: fading 2s infinite;
  }
}
