.home{
    margin-bottom: 40px;
    width: 100%;
    &__products{
        margin-top: 40px;
    }
    &__container{
        width: 100%;
        max-width: 100%;
    }
    &__banner_principal{
        width: 100%;
        .slick-dots{
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10px;
            margin: auto;
            li{
                display: inline-block;
                margin: 0px 5px;
                button{
                    font-size: 0;
                    line-height: 0px;
                    display: block;
                    width: 12px;
                    height: 12px;
                    padding: 5px;
                    border-radius: 50%;
                    cursor: pointer;
                    color: transparent;
                    border: 0;
                    outline: none;
                    background: white;
                }
                button:before{
                    color: black;
                }
            }
            li.slick-active{
                button{
                    background: $color_gray;
                }
            }
        }
        &__figure{
            margin: 0;
        }
        &__img{
            width: 100%;
            height: auto;
        }
        &__info{
            background: rgba($color_black, 0.7);
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            padding: 15px 20px;
            min-width: 350px;
            color:$color_white;
            &__title{
                margin-bottom: 5px;
                font-weight: 400;
            }
            &__text{
                margin-bottom: 20px;
                font-size: 14px;
            }
        }
    }
}
