.page-map {
  .content-page {
    padding: 0;
  }
  .container_search_categories {
    display: none;
  }
  .content_map {
    display: flex;
    height: calc(100vh - 94px);

    &__close {
      display: none;
    }
    &__locals {
      width: 350px;
      border-top: 1px solid $color_grey;
      border-right: 1px solid $color_grey;
      height: 100%;
      overflow-y: scroll;
    }
    &__local {
      padding: 15px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color_grey;
      cursor: pointer;
      &__content {
        margin-right: 10px;
        min-height: 63px;
      }
      &__title {
        margin: 0;
        font-size: 20px;
        color: $color_black;
      }
      &__text {
        margin: 0;
        font-size: 14px;
        color: $color_black;
      }
      &__icon {
        font-size: 26px;
        color: $color_black;
      }
    }
    &__map {
      width: calc(100% - 350px);
    }
  }
}
@media screen and (max-width: 768px) {
  .page-map {
    .content_map {
      &__locals {
        width: 300px;
      }
      &__map {
        width: calc(100% - 300px);
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .page-map {
    .content_map {
      &__close {
        position: fixed;
        z-index: 10000;
        top: 20px;
        left: 20px;
        font-size: 30px;
        background: black;
        border-radius: 50%;
        padding: 2px 14px;
        color: white;
        &--active {
          display: block;
        }
        i {
          font-size: 30px;
          background: color_main;
          border-radius: 50%;
          padding: 5px 9px;
          color: white;
        }
      }
      &__locals {
        width: 100%;
        overflow: auto;
      }
      &__map {
        display: none;
      }
      &__map--active {
        position: fixed !important;
        top: 0;
        display: block;
        z-index: 1000;
        width: 100%;
        height: 100vh;
      }
    }
  }
}
