.page_payment{
  margin: 30px 0;
  &__container{
    max-width: 450px;
    margin:auto;

  }
  &__terms{
    display: block;
    margin-top: 10px;
    color: $color_black;
    &:hover{
        text-decoration: underline;
    }
  }
  &__cards{
    &--none{
      display: none;
    }
    input{
      display: none;
    }
    &__item{
      display: flex;
      justify-content: space-between;
      align-items:center;
      border: 1px solid $color_grey;
      border-radius: 4px;
      padding: 25px 20px;
      margin-bottom: 10px;
      position:  relative;
      opacity: 0.4;
      &__delete{
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
        color: $color_btn;
        input{
          display: none;
        }
        &:hover{
          color: $color_main;
        }
      }
      &--active{
        opacity: 1;
        // box-shadow: 0px 1px 2px rgba(0,0,0, 0.7);
      }
      &__left{
        display: flex;
        align-items:center;
        margin-right: 10px;
        strong{
          margin-left:  5px;
        }
      }
      &__right{
        color: $color_green;

      }
    }
    &__add{
      text-align: center;
      border-bottom: 1px solid transparent;
      display: block;
      color: $color_black;
      width:140px;
      margin: auto;
      margin-top: 3px;
      &:hover{
        border-bottom: 1px solid  $color_black;
      }
    }
  }
  &__form{
    margin-top: 10px;
  }
  &__register{
    background: $color_white;
    padding: 35px;
    border: 1.3px solid rgba($color_grey, 0.7);
    border-radius: 4px;
    &__error{
      font-size:12px;
      margin-top:10px;
      color: $color_main;
    }
    &__text{
      font-size: 12px;
      text-align: center;
    }
    &__mount{
      font-size: 22px;
      margin-bottom: 20px;
      margin-top: 5px;
      display: block;
    }
    &__title{
      text-align: center;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight:bold;
    }
    &__btn{
      margin-top: 20px;
      &--load{
        display: none;
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid $color_orange;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin:auto;
      }
    }
  }
}
.p-thanks{
    position: relative;
    &__container{
        position: absolute;
        left: 0;
        top: 35%;
        margin: auto;
        right: 0;
        z-index: 100;
        max-width: 600px;
    }
    &__msg{
        font-weight: 600;
        font-size: 24px;
        color: $color_white;
        text-align: center;
    }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}