@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype'),
    url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
    url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
    url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AkkuratLightRegular';
  src: url('../fonts/AkkuratLightRegular.eot');
  src: url('../fonts/AkkuratLightRegular.eot') format('embedded-opentype'),
    url('../fonts/AkkuratLightRegular.woff2') format('woff2'),
    url('../fonts/AkkuratLightRegular.woff') format('woff'),
    url('../fonts/AkkuratLightRegular.ttf') format('truetype'),
    url('../fonts/AkkuratLightRegular.svg#AkkuratLightRegular') format('svg');
}
@font-face {
  font-family: 'AkkuratRegular';
  src: url('../fonts/AkkuratRegular.eot');
  src: url('../fonts/AkkuratRegular.eot') format('embedded-opentype'),
    url('../fonts/AkkuratRegular.woff2') format('woff2'),
    url('../fonts/AkkuratRegular.woff') format('woff'),
    url('../fonts/AkkuratRegular.ttf') format('truetype'),
    url('../fonts/AkkuratRegular.svg#AkkuratRegular') format('svg');
}
@font-face {
  font-family: 'AkkuratBold';
  src: url('../fonts/AkkuratBold.eot');
  src: url('../fonts/AkkuratBold.eot') format('embedded-opentype'),
    url('../fonts/AkkuratBold.woff2') format('woff2'),
    url('../fonts/AkkuratBold.woff') format('woff'),
    url('../fonts/AkkuratBold.ttf') format('truetype'),
    url('../fonts/AkkuratBold.svg#AkkuratBold') format('svg');
}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 20, 2020 */

@font-face {
  font-family: 'work_sansbold';
  src: url('../fonts/worksans-bold-webfont.eot');
  src: url('../fonts/worksans-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-bold-webfont.woff2') format('woff2'),
    url('../fonts/worksans-bold-webfont.woff') format('woff'),
    url('../fonts/worksans-bold-webfont.ttf') format('truetype'),
    url('../fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sansthin';
  src: url('../fonts/worksans-thin-webfont.eot');
  src: url('../fonts/worksans-thin-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-thin-webfont.woff2') format('woff2'),
    url('../fonts/worksans-thin-webfont.woff') format('woff'),
    url('../fonts/worksans-thin-webfont.ttf') format('truetype'),
    url('../fonts/worksans-thin-webfont.svg#work_sansthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sansblack';
  src: url('../fonts/worksans-black-webfont.eot');
  src: url('../fonts/worksans-black-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-black-webfont.woff2') format('woff2'),
    url('../fonts/worksans-black-webfont.woff') format('woff'),
    url('../fonts/worksans-black-webfont.ttf') format('truetype'),
    url('../fonts/worksans-black-webfont.svg#work_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sanslight';
  src: url('../fonts/worksans-light-webfont.eot');
  src: url('../fonts/worksans-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-light-webfont.woff2') format('woff2'),
    url('../fonts/worksans-light-webfont.woff') format('woff'),
    url('../fonts/worksans-light-webfont.ttf') format('truetype'),
    url('../fonts/worksans-light-webfont.svg#work_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sansmedium';
  src: url('../fonts/worksans-medium-webfont.eot');
  src: url('../fonts/worksans-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-medium-webfont.woff2') format('woff2'),
    url('../fonts/worksans-medium-webfont.woff') format('woff'),
    url('../fonts/worksans-medium-webfont.ttf') format('truetype'),
    url('../fonts/worksans-medium-webfont.svg#work_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sansregular';
  src: url('../fonts/worksans-regular-webfont.eot');
  src: url('../fonts/worksans-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-regular-webfont.woff2') format('woff2'),
    url('../fonts/worksans-regular-webfont.woff') format('woff'),
    url('../fonts/worksans-regular-webfont.ttf') format('truetype'),
    url('../fonts/worksans-regular-webfont.svg#work_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sanshairline';
  src: url('../fonts/worksans-hairline-webfont.eot');
  src: url('../fonts/worksans-hairline-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-hairline-webfont.woff2') format('woff2'),
    url('../fonts/worksans-hairline-webfont.woff') format('woff'),
    url('../fonts/worksans-hairline-webfont.ttf') format('truetype'),
    url('../fonts/worksans-hairline-webfont.svg#work_sanshairline')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sanssemibold';
  src: url('../fonts/worksans-semibold-webfont.eot');
  src: url('../fonts/worksans-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/worksans-semibold-webfont.woff') format('woff'),
    url('../fonts/worksans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/worksans-semibold-webfont.svg#work_sanssemibold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sansextrabold';
  src: url('../fonts/worksans-extrabold-webfont.eot');
  src: url('../fonts/worksans-extrabold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/worksans-extrabold-webfont.woff') format('woff'),
    url('../fonts/worksans-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/worksans-extrabold-webfont.svg#work_sansextrabold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sansextralight';
  src: url('../fonts/worksans-extralight-webfont.eot');
  src: url('../fonts/worksans-extralight-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/worksans-extralight-webfont.woff2') format('woff2'),
    url('../fonts/worksans-extralight-webfont.woff') format('woff'),
    url('../fonts/worksans-extralight-webfont.ttf') format('truetype'),
    url('../fonts/worksans-extralight-webfont.svg#work_sansextralight')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
