$color_main: #cf2250;
$color_white: #fff;
$color_black: #000;
$color_btn: #d8d8d8;
$color_border_btn: #9b9b9b;
$color_green: #52b070;
$color_black: #000;
$color_red: #ff4058;
$font_regular: 'work_sansregular';
$font_bold: 'work_sansbold';
$font_extrabold: 'work_sansextrabold';
$color_facebook: #4267b2;
$bg_register: #f2f2f2;
$color_green: #3ca868;
$color_grey: #a0a0a0;
$color_gray: #4a4a4a;
$color_gray_select: #ece9e9;
$color_blue: #2b245b;
$color_orange: #ed6e05;
$color_text: #636363;
$color_skeleton: #f4f4f4;
$color_gift: #fbfbfb;
