<template>
  <section class="p-home home">
    <client-only>
      <vue-tiny-slider
        class="home__banner_principal"
        v-bind="tinySliderOptions"
      >
        <a
          v-for="banner in banners"
          v-if="banner.url"
          :href="banner.url"
          target="_blank"
          class="banner"
        >
          <picture>
            <source
              v-if="banner.banner_movil_url"
              media="(max-width: 480px)"
              :srcset="banner.banner_movil_url"
            />
            <img class="home__banner_principal__img" :src="banner.banner_url" />
          </picture>
        </a>
        <div v-else class="banner">
          <picture>
            <source
              v-if="banner.banner_movil_url"
              media="(max-width: 480px)"
              :srcset="banner.banner_movil_url"
            />
            <img class="home__banner_principal__img" :src="banner.banner_url" />
          </picture>
        </div>
      </vue-tiny-slider>
    </client-only>
  </section>
</template>
<script>
export default {
  props: ['banners'],
  data() {
    return {
      tinySliderOptions: {
        controls: false,
        mouseDrag: true,
        autoHeight: true,
        nav: true,
        speed: 600,
        autoplayTimeout: 5000,
        autoplay: true,
        autoplayText: ['', ''],
        autoplayButtonOutput: false,
        navPosition: 'bottom',
        swipeAngle: false
      }
    }
  },
  computed: {
    baseUrlMedia() {
      return this.$store.getters.BaseUrlMedia
    }
  }
}
</script>
