<template>
  <transition name="modal">
    <div class="modal-mask modal-recojo-tienda scroll">
      <div class="modal-wrapper">
        <div class="modal-container">
          <font-awesome-icon
            far
            icon="times"
            class="modal-close"
            @click="$emit('closeNextModal')"
          />
          <div class="modal-header">
            <img
              src="~assets/images/icono-caja.png"
              class="img-manos"
              width="50"
            />
            <h3>¡Su pedido ha sido procesado!</h3>
            <p class="subtitle">Su direccion de entrega:</p>
          </div>

          <div class="modal-body">
            <h4 class="message_response_local text-center">
              {{ address }}
            </h4>
          </div>

          <div class="modal-footer">
            <button
              class="btn btn--full-dark discount_detail__btn_download"
              @click="$emit('closeNextModal')"
            >
              Entendido
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: 'RecojoTiendaThanks',
  props: ['address'],
  data() {
    return {
      info: {
        company_service: ''
      },
      locals: []
    }
  },
  created() {},
  methods: {}
}
</script>
