<template>
  <div class="">
    <div ref="devliveryMap" class="delivery_map"></div>
  </div>
</template>
<script>
export default {
  name: 'DeliveryMap',
  props: ['google'],
  data() {
    return {
      map: null
    }
  },
  mounted() {
    const element = this.$refs.devliveryMap
    this.map = new this.google.maps.Map(element, {
      zoom: 13,
      center: {
        lng: -77.0692279,
        lat: -12.0981227
      },
      mapTypeControl: false
    })
    this.map.setZoom(16)
  }
}
</script>
<style lang="scss">
.delivery_map {
  width: 100%;
  height: 260px;
}
</style>
