<template>
  <div v-if="loading" class="gift">
    <!-- <h4 class="discount_detail__terms__title text-center">{{ product.data_extra.pdf_text }}</h4> -->
    <div v-if="!is_delivery" class>
      <p class="gift__text_print text-center">
        <button
          class="btn btn--full-dark text-center gift__button_open_modal"
          @click.prevent="showModal = true"
        >
          <img src="~assets/images/icono-camion-verde.png" width="30" alt />
          <span>Pedir</span>
        </button>
      </p>
    </div>
    <div v-else class>
      <div v-if="status == 'PE'" class="box">
        <div class="box__image">
          <img src="~assets/images/mug.gif" alt />
        </div>
        <div class="box__content">
          <h3 class="box__title">¡El pedido fue registrado con éxito!</h3>
          <p class="box__description">
            En breve le estaremos confirmando la fecha y hora del envío al email
            {{ email }}
          </p>
        </div>
      </div>
      <div v-else-if="status == 'CF'" class="box">
        <div class="box__image">
          <img src="~assets/images/delivery.gif" alt />
        </div>
        <div class="box__content">
          <h3 class="box__title">Se ha confirmado su pedido</h3>
          <p class="box__description">Llegará a {{ address }}</p>
        </div>
      </div>
      <div v-else-if="status == 'EN'" class="box">
        <div class="box__image">
          <img src="~assets/images/delivery.gif" alt />
        </div>
        <div class="box__content">
          <h3 class="box__title">Su pedido está en camino</h3>
          <p v-if="is_today" class="box__description">Llegará Hoy a {{ address }}</p>
          <p
            class="box__description"
          >Llegará el {{ arrive_date }} entre {{ arrive_hour }} a {{ address }}</p>
        </div>
      </div>
      <div v-else-if="status == 'EN'" class="box">
        <div class="box__image">
          <img src="~assets/images/delivery.gif" alt />
        </div>
        <div class="box__content">
          <h3 class="box__title">Su pedido está en camino</h3>
          <p v-if="is_today" class="box__description">Llegará Hoy a {{ address }}</p>
          <p
            class="box__description"
          >Llegará el {{ arrive_date }} entre {{ arrive_hour }} a {{ address }}</p>
        </div>
      </div>
    </div>
    <DeliveryModal v-if="showModal" @close="closeModal" @closeNextModal="NextModal" />
    <DeliveryModalThanks v-if="showNextModal" :address="address" @closeNextModal="closeNextModal" />
  </div>
</template>
<script>
import DeliveryModal from '@/components/product_service/DeliveryModal'
import DeliveryModalThanks from '@/components/product_service/DeliveryModalThanks'
export default {
  name: 'Delivery',
  components: {
    DeliveryModal,
    DeliveryModalThanks
  },
  props: ['product'],
  data() {
    return {
      showModal: false,
      showNextModal: false,
      nextModal: false,
      is_delivery: false,
      loading: false,
      status: 'PE',
      address: '',
      reference: '',
      email: '',
      arrive_date: '',
      is_today: true,
      arrive_hour: ''
    }
  },
  created() {
    this.getDelivery()
  },
  methods: {
    closeModal() {
      this.showModal = false
      document.querySelector('body').classList.remove('hidden')
    },
    closeNextModal() {
      document.querySelector('body').classList.remove('hidden')
      this.showNextModal = false
    },
    NextModal(data) {
      this.showModal = false
      this.showNextModal = true
      this.is_delivery = true
      this.loading = true
      this.status = 'PE'
      this.address = data.address
      this.reference = data.reference
      this.email = data.email
      this.arrive_hour = data.arrive_hour
      this.arrive_date = data.arrive_date
      this.is_today = data.is_today
    },
    getDelivery() {
      const self = this
      // self.loading = true
      self.$axios
        .$get(`/order/delivery/${self.$route.params.slug}/`)
        .then((response) => {
          self.is_delivery = true
          self.reference = response.reference
          self.address = response.address
          self.email = response.email
          self.arrive_date = response.arrive_date
          self.arrive_hour = response.arrive_hour
          self.is_today = response.is_today
          self.status = response.status
          self.loading = true
        })
        .catch((error) => {
          self.loading = true
          self.errorsDj = error.response.data
        })
    },
    getStatus() {
      if (this.status === 'CF') {
        return 'Confirmado'
      }
      if (this.status === 'CP') {
        return 'Completado'
      }
      if (this.status === 'EN') {
        return 'Enviado'
      }
      if (this.status === 'PE') {
        return '¡El pedido fue registrado con éxito!'
      }
    }
  }
}
</script>
