<template>
  <transition name="modal ">
    <div class="modal-mask modal-reservation scroll">
      <div class="modal-wrapper">
        <form
          method="POST"
          action
          class="modal-container form-shipping form-shipping--delivery-map scroll"
          @submit.prevent="postDelivery()"
        >
          <font-awesome-icon
            far
            icon="times"
            class="modal-close"
            @click="$emit('close')"
          />
          <div class="modal-header">
            <img
              src="~assets/images/icono-camion.png"
              class="img-manos"
              width="50"
            />
            <h3>Para comenzar a preparar su pedido</h3>
            <p class="subtitle">complete los siguientes campos</p>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 form-group">
                <label for class="form-shipping__label">Email</label>
                <input v-model="info.email" type="email" class="form-control" />
                <p
                  v-for="err in getError('email')"
                  v-if="hasError('email')"
                  class="err"
                >
                  {{ err }}
                </p>
              </div>
              <div class="col-12 form-group">
                <label class="form-shipping__label" for
                  >Selecciona tu dirección de envío</label
                >
                <select v-model="info.type_address" name class="form-control">
                  <option value="C">Casa</option>
                  <option value="O">Oficina</option>
                </select>
                <p
                  v-for="err in getError('type_address')"
                  v-if="hasError('type_address')"
                  class="err"
                >
                  {{ err }}
                </p>
              </div>

              <div class="col-12 form-group">
                <label for class="form-shipping__label">Dirección</label>
                <input
                  ref="searchMapAddres"
                  v-model="info.address"
                  type="text"
                  class="form-control"
                />
                <!-- <p
                  class="text-success delivery__my_location_link"
                  @click="useMyLocation"
                >Usar mi Ubicación</p> -->
                <p
                  v-for="err in getError('address')"
                  v-if="hasError('address')"
                  class="err"
                >
                  {{ err }}
                </p>
              </div>
              <div class="col-12 form-group">
                <label for class="form-shipping__label">Distrito</label>
                <input v-model="info.city" type="text" class="form-control" />
                <p
                  v-for="err in getError('city')"
                  v-if="hasError('city')"
                  class="err"
                >
                  {{ err }}
                </p>
              </div>
              <div class="col-12 form-group">
                <div ref="devliveryMap" class="delivery_map"></div>
              </div>
              <div class="col-md-4 col-xs-12 form-group">
                <label for class="form-shipping__label">Número</label>
                <input v-model="info.nro" type="text" class="form-control" />
                <p
                  v-for="err in getError('nro')"
                  v-if="hasError('nro')"
                  class="err"
                >
                  {{ err }}
                </p>
              </div>
              <div class="col-md-4 col-xs-12 form-group">
                <label for class="form-shipping__label">Dpto</label>
                <input v-model="info.dpto" type="text" class="form-control" />
                <p
                  v-for="err in getError('dpto')"
                  v-if="hasError('dpto')"
                  class="err"
                >
                  {{ err }}
                </p>
              </div>
              <div class="col-md-4 col-xs-12 form-group">
                <label for class="form-shipping__label">Teléfono</label>
                <input
                  v-model="info.telephone"
                  type="text"
                  class="form-control"
                />
                <p
                  v-for="err in getError('telephone')"
                  v-if="hasError('telephone')"
                  class="err"
                >
                  {{ err }}
                </p>
              </div>
              <div class="col-12 form-group">
                <label for class="form-shipping__label">Referencia</label>
                <input
                  v-model="info.reference"
                  type="text"
                  class="form-control"
                />
                <p
                  v-for="err in getError('reference')"
                  v-if="hasError('reference')"
                  class="err"
                >
                  {{ err }}
                </p>
              </div>
              <div class="col-12 form-group">
                <label for class="form-shipping__label">Nota (opcional)</label>
                <textarea
                  id
                  v-model="info.note"
                  class="form-control"
                  name
                  cols="30"
                  rows="3"
                  placeholder="Deseo la opción 1"
                ></textarea>
                <p
                  v-for="err in getError('non_field_errors')"
                  v-if="hasError('non_field_errors')"
                  class="err"
                >
                  {{ err }}
                </p>
                <p v-if="hasError('lat') || hasError('lng')" class="err">
                  Elija una direccion valida
                </p>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <ButtonLoading
              :loading="loading"
              class="btn btn--full-dark discount_detail__btn_download"
              >Pedir</ButtonLoading
            >
          </div>
        </form>
      </div>
    </div>
  </transition>
</template>
<script>
import GoogleMapsApiLoader from 'google-maps-api-loader'
import ButtonLoading from '@/components/base/ButtonLoading'
import { getEmail } from '@/utils/auth'
import config from '@/config'
import errrorDJ from '@/mixins/errorDJ'
export default {
  name: 'DeliveryModal',
  components: {
    ButtonLoading
  },
  mixins: [errrorDJ],
  data() {
    return {
      google: null,
      map: null,
      loading: false,
      info: {
        address: '',
        lat: '',
        lng: '',
        email: '',
        reference: '',
        nro: '',
        dpto: '',
        type_address: 'C',
        telephone: '',
        note: '',
        city: ''
      },
      locals: [],
      marker: ''
    }
  },
  created() {
    this.info.email = getEmail()
  },
  async mounted() {
    document.querySelector('body').classList.add('hidden')
    const googleMapApi = await GoogleMapsApiLoader({
      libraries: ['places'],
      apiKey: config.GOOGLE_API_KEY
    })
    this.google = googleMapApi
    const element = this.$refs.devliveryMap
    this.map = new this.google.maps.Map(element, {
      zoom: 13,
      center: {
        lng: -77.0653445,
        lat: -12.031236
      },
      mapTypeControl: false
    })
    this.map.setZoom(13)
    this.searchMap(this.google)
    this.getLocals()
  },
  methods: {
    getLocals() {
      const self = this
      self.$axios
        .$get(`/products/${self.$route.params.slug}/locals/delivery/`)
        .then((response) => {
          self.locals = response
          self.polygonMap(response)
        })
    },
    postDelivery() {
      const self = this
      self.loading = true
      self.$axios
        .$post(`/v2/order/delivery/${self.$route.params.slug}/`, this.info)
        .then((response) => {
          self.loading = false
          self.$emit('closeNextModal', {
            address: response.address,
            reference: response.reference,
            email: response.email
          })
        })
        .catch((error) => {
          self.loading = false
          self.errorsDj = error.response.data
        })
    },
    nextModalThanks() {
      this.$emit('closeNextModal')
    },
    polygonMap(locals) {
      const self = this
      for (let i = locals.length - 1; i >= 0; i--) {
        const coordinates = locals[i].geometry.coordinates[0]
        const polygon = []
        for (let j = coordinates.length - 1; j >= 0; j--) {
          polygon.push({
            lat: coordinates[j][1],
            lng: coordinates[j][0]
          })
        }
        const bermudaTriangle = new this.google.maps.Polygon({
          paths: polygon,
          strokeColor: '#3ca868',
          strokeOpacity: 0.3,
          strokeWeight: 2,
          fillColor: '#3ca868',
          fillOpacity: 0.2
        })
        bermudaTriangle.setMap(self.map)
        bermudaTriangle.setVisible(true)
        const markerModal = new self.google.maps.Marker({
          map: self.map,
          draggable: false,
          animation: self.google.maps.Animation.DROP,
          position: new self.google.maps.LatLng(locals[i].lat, locals[i].lng),
          icon: {
            url: require('~/static/images/local.png'),
            scaledSize: self.google.maps.Size(10, 10)
          }
        })
        markerModal.setVisible(true)
      }
    },
    searchMap() {
      const self = this
      const input = this.$refs.searchMapAddres
      const options = {
        componentRestrictions: {
          country: 'pe'
        }
      }
      const autocomplete = new this.google.maps.places.Autocomplete(
        input,
        options
      )
      self.marker = new this.google.maps.Marker({
        map: self.map,
        anchorPoint: new this.google.maps.Point(0, -29),
        draggable: true,
        animation: self.google.maps.Animation.DROP
      })
      autocomplete.addListener('place_changed', (e) => {
        const place = autocomplete.getPlace()
        self.marker.setVisible(false)
        if (!place.geometry) {
          return
        }
        if (place.geometry.viewport) {
          self.map.fitBounds(place.geometry.viewport)
        } else {
          self.map.setCenter(place.geometry.location)
          self.map.setZoom(15) // Why 17? Because it looks good.
        }
        self.info.lat = place.geometry.location.lat()
        self.info.lng = place.geometry.location.lng()
        self.marker.setPosition(place.geometry.location)
        self.marker.setVisible(true)
        self.info.address = place.formatted_address
      })
      const geocoder = new this.google.maps.Geocoder()
      this.google.maps.event.addListener(self.marker, 'dragend', function(mk) {
        const latLng = mk.latLng
        const currentLatitude = latLng.lat()
        const currentLongitude = latLng.lng()
        self.info.lat = currentLatitude
        self.info.lng = currentLongitude
        geocoder.geocode(
          {
            location: { lat: currentLatitude, lng: currentLongitude }
          },
          function(results, status) {
            if (status === self.google.maps.GeocoderStatus.OK) {
              console.log(results)
              self.info.address = results[0].formatted_address
            }
          }
        )
      })
    },
    getGeocoder(position) {
      const self = this
      const geocoder = new self.google.maps.Geocoder()
      geocoder.geocode(
        {
          location: { lat: position.lat, lng: position.lng }
        },
        function(results, status) {
          if (status === self.google.maps.GeocoderStatus.OK) {
            self.info.address = results[0].formatted_address
          }
        }
      )
    },
    useMyLocation() {
      const self = this
      const opt = {
        enableHighAccuracy: true,
        maximumAge: 0
      }
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
            self.info.lat = pos.lat
            self.info.lng = pos.lng
            const latlng = new self.google.maps.LatLng(pos.lat, pos.lng)
            self.map.setCenter(latlng)
            self.map.setZoom(15)
            self.marker.setPosition(latlng)
            self.marker.setVisible(true)
            self.getGeocoder(pos)
            console.log(pos, 'post')
          },
          (e) => {
            console.log('error', e)
            alert('Debe activar su gps')
          },
          opt
        )
      } else {
        console.log('not position')
      }
    }
  }
}
</script>
<style lang="scss">
.delivery_map {
  width: 100%;
  height: 280px;
}
.delivery__my_location_link {
  font-size: 14px !important;
  margin-top: 5px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.pac-container.pac-logo {
  z-index: 999999;
}
</style>
