<template>
  <transition name="modal ">
    <div class="modal-mask modal-reservation scroll">
      <div class="modal-wrapper">
        <form
          method="POST"
          action
          class="modal-container form-shipping"
          @submit.prevent="postOrderCommerce"
        >
          <font-awesome-icon far icon="times" class="modal-close" @click="$emit('close')" />
          <div class="modal-header">
            <img src="~assets/images/manos.png" class="img-manos" width="60" />
            <h3>Para validar su regalo</h3>
            <p class="subtitle">complete los siguientes campos</p>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 col-xs-12 form-group">
                <label for class="form-shipping__label">Teléfono</label>
                <input
                  v-model="phone"
                  required
                  class="form-control"
                  type="text"
                  placeholder="ejemplo: 999999999"
                />
                <p v-for="err in getError('phone')" v-if="hasError('phone')" class="err">{{ err }}</p>
              </div>
              <div class="col-md-12 col-xs-12 form-group">
                <label for class="form-shipping__label">Email</label>
                <input
                  v-model="email"
                  required
                  class="form-control"
                  type="text"
                  placeholder="email"
                />
                <p v-for="err in getError('email')" v-if="hasError('email')" class="err">{{ err }}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <ButtonLoading
              :loading="loading"
              class="btn btn--full-dark discount_detail__btn_download"
            >Pedir</ButtonLoading>
          </div>
        </form>
      </div>
    </div>
  </transition>
</template>
<script>
import { getEmail } from '@/utils/auth'
import ButtonLoading from '@/components/base/ButtonLoading'
import errrorDJ from '@/mixins/errorDJ'

export default {
  name: 'OrderCommerceModal',
  components: {
    ButtonLoading
  },
  mixins: [errrorDJ],
  data() {
    return {
      info: {
        company_service: ''
      },
      locals: [],
      local: '',
      local_object: '',
      time: '',
      date: null,
      phone: '',
      message: '',
      email: '',
      loading: false,
      hours: [],
      local_dates_off: [],
      is_only_hour: false,
      is_open: false,
      is_open_two: false,
      is_open_three: false,
      limit_hour: 0,
      new_today: ''
    }
  },
  computed: {
    getTimeActive() {
      return this.times
    }
  },
  created() {
    this.email = getEmail()
  },
  mounted() {
    document.querySelector('body').classList.add('hidden')
  },
  methods: {
    postOrderCommerce() {
      const self = this
      self.loading = true

      self.$axios
        .$post(`/order/commerce/${self.$route.params.slug}/`, {
          phone: self.phone,
          email: self.email
        })
        .then((response) => {
          self.loading = false
          self.$emit('closeNextModal', {
            email: self.email
          })
        })
        .catch((error) => {
          self.loading = false
          self.errorsDj = error.response.data
        })
    },
    nextModalThanks() {
      this.$emit('closeNextModal')
    }
  }
}
</script>
<style lang="scss"></style>
