<template>
  <div v-if="loading" class="gift">
    <div v-if="!is_reservation" class>
      <!-- <h4 class="discount_detail__terms__title text-center">
        {{ product.data_extra.pdf_text }}
      </h4>-->
      <p class="gift__text_print text-center">
        <button
          class="btn btn--full-dark-text-green-bold text-center btn--apply-modal"
          @click.prevent="showModal = true"
        >Pedir</button>
      </p>
    </div>
    <div v-else class>
      <div v-if="!is_confirmation" class>
        <h4 class="discount_detail__terms__title text-center">¡Estamos procesando su pedido!</h4>
      </div>
      <div v-else class>
        <h4 class="discount_detail__terms__title text-center">¡Su pedido esta confirmado!</h4>
      </div>
    </div>
    <OrderCommerceModal v-if="showModal" @close="closeModal" @closeNextModal="NextModal" />
    <OrderCommerceModalThanks v-if="showNextModal" :email="email" @closeNextModal="closeNextModal" />
  </div>
</template>
<script>
import { getDocument } from '@/utils/auth'
import OrderCommerceModal from '@/components/product_service/OrderCommerceModal'
import OrderCommerceModalThanks from '@/components/product_service/OrderCommerceModalThanks'
export default {
  name: 'OrderCommerce',
  components: {
    OrderCommerceModal,
    OrderCommerceModalThanks
  },
  props: ['product'],
  data() {
    return {
      showModal: false,
      showNextModal: false,
      nextModal: false,
      is_reservation: false,
      local: '',
      date: '',
      time: '',
      phone: '',
      message: '',
      email: '',
      loading: null,
      status: '',
      num_document: '',
      lat: '',
      lng: '',
      is_confirmation: false
    }
  },
  created() {
    this.num_document = getDocument()
    this.getReservation()
  },
  mounted() {},
  methods: {
    closeModal() {
      this.showModal = false
      document.querySelector('body').classList.remove('hidden')
    },
    closeNextModal() {
      document.querySelector('body').classList.remove('hidden')
      this.showNextModal = false
    },
    getReservation() {
      const self = this
      // self.loading = true
      self.$axios
        .$get(`/order/commerce/${self.$route.params.slug}/`)
        .then((response) => {
          self.is_reservation = true
          self.email = response.email
          self.is_confirmation = response.is_confirmation
          self.loading = true
        })
        .catch((error) => {
          self.loading = true
          self.errorsDj = error.response.data
        })
    },
    NextModal(data) {
      this.showModal = false
      this.showNextModal = true
      this.is_reservation = true
      // this.local = data.local
      // this.date = data.date
      // this.time = data.time
      // this.phone = data.phone
      // this.message = data.message
      this.email = data.email
      this.loading = true
      this.status = 'PE'
    }
  }
}
</script>
