<template>
  <transition name="modal ">
    <div class="modal-mask modal-recojo-tienda scroll">
      <div class="modal-wrapper">
        <div class="modal-container">
          <font-awesome-icon far icon="times" class="modal-close" @click="$emit('closeNextModal')" />
          <div class="modal-header">
            <img src="~assets/images/icono-camion.png" class="img-manos" width="50" />
            <h3>El pedido fue registrado con éxito</h3>
            <p class="subtitle">Recibira la confirmación al email {{ email }}</p>
          </div>

          <div class="modal-body"></div>

          <div class="modal-footer">
            <button
              class="btn btn--full-dark discount_detail__btn_download"
              @click="$emit('closeNextModal')"
            >Entendido</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: 'OrderCommerceModalThanks',
  props: ['email'],
  data() {
    return {
      info: {
        company_service: ''
      },
      locals: []
    }
  },
  created() {},
  methods: {}
}
</script>
