<template>
  <transition name="modal ">
    <div class="modal-mask modal-recojo-tienda scroll">
      <div class="modal-wrapper">
        <form method="POST" action class="modal-container">
          <font-awesome-icon far icon="times" class="modal-close" @click="$emit('close')" />
          <div class="modal-header">
            <img src="~assets/images/icono-caja.png" class="img-manos" width="50" />
            <h3>Para preparar sus pedido</h3>
            <p class="subtitle">Seleccione el local de recojo</p>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 col-xs-12 form-group">
                <label for class="form-shipping__label">Email</label>
                <input
                  v-model="email"
                  required
                  class="form-control"
                  type="text"
                />
                <p v-for="err in getError('email')" v-if="hasError('email')" class="err">{{ err }}</p>
              </div>
              <div class="col-md-12 col-xs-12 form-group">
                <label for class="form-shipping__label">Teléfono</label>
                <input
                  v-model="telephone"
                  required
                  class="form-control"
                  type="text"
                />
                <p v-for="err in getError('telephone')" v-if="hasError('telephone')" class="err">{{ err }}</p>
              </div>
            </div>
            <div class="row">
              <div
                class="form_recojotienda scroll col-12"
                :class="{ 'form_recojotienda--scroll': locals.length > 2 }"
              >
                <label
                  v-for="lcl in locals"
                  :key="'local-' + lcl.id"
                  class="check_local"
                >
                  <div class="check_local__name">
                    <p>{{ lcl.name }}</p>
                    <span>{{ lcl.address }}</span>
                  </div>

                  <div class="custom-control custom-radio">
                    <input
                      :id="lcl.id"
                      v-model="local"
                      type="radio"
                      :value="lcl.id"
                      name="radioDisabled"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" :for="lcl.id"></label>
                  </div>
                </label>
              </div>
            </div>
            <p
              v-for="err in getError('local')"
              v-if="hasError('local')"
              class="err"
            >Seleccione un local</p>
            <p v-for="err in getError('base')" v-if="hasError('base')" class="err">{{ err }}</p>
            <p
              v-for="err in getError('non_field_errors')"
              v-if="hasError('non_field_errors')"
              class="err"
            >{{ err }}</p>
            <p class="message_observation">Podrá pasar a recogerlo el {{ formatDate(new_today) }}</p>
          </div>

          <div class="modal-footer">
            <ButtonLoading
              :loading="loading"
              class="btn btn--full-dark discount_detail__btn_download"
              @click.native="postOrderPickUp()"
            >Pedir</ButtonLoading>
          </div>
        </form>
      </div>
    </div>
  </transition>
</template>
<script>
import { getEmail } from '@/utils/auth'
import ButtonLoading from '@/components/base/ButtonLoading'
import errrorDJ from '@/mixins/errorDJ'
export default {
  components: {
    ButtonLoading
  },
  mixins: [errrorDJ],
  data() {
    return {
      info: {
        company_service: ''
      },
      locals: [],
      loading: false,
      local: '',
      email: '',
      first_name: '',
      last_name: '',
      telephone: ''
    }
  },
  created() {
    this.email = getEmail()
    this.getLocals()
    const today = this.$store.getters.getToday
    const new_today = new Date(today)
    new_today.setDate(new_today.getDate() + 4)
    this.new_today = new Date(new_today)
  },
  mounted() {
    document.querySelector('body').classList.add('hidden')
  },
  methods: {
    formatDate(date) {
      const year = date.getFullYear()
      let month = date.getMonth() + 1
      let day = date.getDate()

      if (day < 10) {
        day = '0' + day
      }
      if (month < 10) {
        month = '0' + month
      }

      const formattedDate = day + '/' + month + '/' + year
      return formattedDate
    },
    getLocals() {
      const self = this
      self.$axios
        .$get(`/products/${self.$route.params.slug}/locals/`)
        .then((response) => {
          self.locals = response
        })
    },
    postOrderPickUp() {
      const self = this
      self.loading = true
      self.$axios
        .$post(`/order/pick-up/${self.$route.params.slug}/`, {
          local: self.local,
          email: self.email,
          telephone: self.telephone
        })
        .then((response) => {
          self.loading = false
          self.$emit('closeNextModal', {
            local: response.local,
            date: response.date,
            lat: response.lat,
            lng: response.lng
          })
        })
        .catch((error) => {
          self.loading = false
          self.errorsDj = error.response.data
        })
    },
    nextModalThanks() {
      this.$emit('closeNextModal', {
        local: 'Avenida Javier Prado',
        date: '20/20/2018'
      })
    }
  }
}
</script>
