<template>
  <div v-if="loading" class="gift">
    <div v-if="!is_reservation" class>
      <h4 class="discount_detail__terms__title text-center">
        {{ product.data_extra.pdf_text }}
      </h4>
      <p class="gift__text_print text-center">
        <button
          class="btn btn--full-dark-text-green-bold text-center"
          @click.prevent="showModal = true"
        >
          Realizar Pedido
        </button>
      </p>
    </div>
    <div v-else class>
      <div v-if="status == 'PE'" class>
        <h4 class="discount_detail__terms__title text-center">
          ¡Estamos preparando su pedido!
        </h4>
        <p class="text-center">
          Podrá pasar a recogerlo el {{ date }} en
          <a
            target="_blank"
            class="discount_detail__link_map"
            :href="'https://maps.google.com/?q=' + lat + ',' + lng"
            >{{ local }}</a
          >
        </p>
      </div>
      <div v-else-if="status == 'CF' || status == 'CP'" class="box">
        <div class="box__image">
          <img src="~assets/images/box_200.gif" alt />
        </div>
        <div class="box__content">
          <h3 class="box__title">Recoge tu pedido en</h3>
          <a
            v-if="lat && lng"
            target="_blank"
            class="box__company_date box__company_date--link"
            :href="'https://maps.google.com/?q=' + lat + ',' + lng"
            >{{ local }}</a
          >
          <p v-else class="box__company_date">{{ local }}</p>
          <p class="box__company_date">el {{ date }}</p>
          <p class="box__description">
            Recuerda que para validar tu regalo en el establecimiento es
            importante que presentes tu documento de identidad con número
            {{ num_document }}
          </p>
        </div>
      </div>
    </div>
    <RecojoTiendaModal
      v-if="showModal"
      @close="closeModal"
      @closeNextModal="NextModal"
    />
    <RecojoTiendaModalThanks
      v-if="showNextModal"
      :local="local"
      :date="date"
      @closeNextModal="closeNextModal"
    />
  </div>
</template>
<script>
import RecojoTiendaModal from '@/components/product_service/RecojoTiendaModal'
import RecojoTiendaModalThanks from '@/components/product_service/RecojoTiendaModalThanks'
export default {
  name: 'RecojoTienda',
  components: {
    RecojoTiendaModal,
    RecojoTiendaModalThanks
  },
  props: ['product'],
  data() {
    return {
      showModal: false,
      showNextModal: false,
      nextModal: false,
      is_reservation: false,
      local_address: '',
      date: '',
      lat: '',
      lng: '',
      status: '',
      loading: null
    }
  },
  created() {
    this.getPickUp()
  },
  methods: {
    closeModal() {
      this.showModal = false
      document.querySelector('body').classList.remove('hidden')
    },
    closeNextModal() {
      document.querySelector('body').classList.remove('hidden')
      this.showNextModal = false
    },
    NextModal(data) {
      this.showModal = false
      this.showNextModal = true
      this.is_reservation = true
      this.local = data.local
      this.date = data.date
      this.lat = data.lat
      this.lng = data.lng
      this.loading = true
      this.status = 'PE'
    },
    getPickUp() {
      const self = this
      self.$axios
        .get(`/order/pick-up/${self.$route.params.slug}/`)
        .then((response) => {
          self.is_reservation = true
          self.local = response.data.local
          self.date = response.data.date
          self.lat = response.data.lat
          self.lng = response.data.lng
          self.status = response.data.status
          self.loading = true
        })
        .catch((error) => {
          self.is_reservation = false
          self.loading = true
        })
    }
  }
}
</script>
