<template>
  <div v-if="loading" class="gift">
    <div v-if="!is_reservation" class>
      <!-- <h4 class="discount_detail__terms__title text-center">
        {{ product.data_extra.pdf_text }}
      </h4> -->
      <p class="gift__text_print text-center">
        <button
          class="btn btn--full-dark-text-green-bold text-center btn--apply-modal"
          @click.prevent="showModal = true"
        >
          <img src="~assets/images/icono_reservas.png" width="30" alt />
          Reservar
        </button>
      </p>
    </div>
    <div v-else class>
      <div v-if="status == 'PE'" class>
        <h4 class="discount_detail__terms__title text-center">
          ¡Estamos procesando su reserva!
        </h4>
        <p class="text-center">
          En breve recibirá la confirmación al email {{ email }}
        </p>
      </div>
      <div v-else-if="status == 'CF'" class="box">
        <div class="box__image">
          <img src="~assets/images/check-circled_200.gif" alt />
        </div>
        <div class="box__content">
          <h3 class="box__title">¡Tienes una reserva!</h3>
          <a
            v-if="lat && lng"
            target="_blank"
            class="box__company_date box__company_date--link"
            :href="'https://maps.google.com/?q=' + lat + ',' + lng"
            >{{ local }}</a
          >
          <p v-else class="box__company_date">{{ local }}</p>
          <p class="box__company_date">el {{ date }} a las {{ time }}</p>
          <p class="box__description">
            Recuerda que para validar tu regalo en el establecimiento es
            importante que presentes tu documento de identidad con número
            {{ num_document }}
          </p>
        </div>
      </div>
    </div>
    <ReservationModal
      v-if="showModal"
      @close="closeModal"
      @closeNextModal="NextModal"
    />
    <ReservationModalThanks
      v-if="showNextModal"
      :email="email"
      @closeNextModal="closeNextModal"
    />
  </div>
</template>
<script>
import { getDocument } from '@/utils/auth'
import ReservationModal from '@/components/product_service/ReservationModal'
import ReservationModalThanks from '@/components/product_service/ReservationModalThanks'
export default {
  name: 'Reservation',
  components: {
    ReservationModal,
    ReservationModalThanks
  },
  props: ['product'],
  data() {
    return {
      showModal: false,
      showNextModal: false,
      nextModal: false,
      is_reservation: false,
      local: '',
      date: '',
      time: '',
      phone: '',
      message: '',
      email: '',
      loading: null,
      status: '',
      num_document: '',
      lat: '',
      lng: ''
    }
  },
  created() {
    this.num_document = getDocument()
    this.getReservation()
  },
  mounted() {},
  methods: {
    closeModal() {
      this.showModal = false
      document.querySelector('body').classList.remove('hidden')
    },
    closeNextModal() {
      document.querySelector('body').classList.remove('hidden')
      this.showNextModal = false
    },
    getReservation() {
      const self = this
      // self.loading = true
      self.$axios
        .$get(`/order/reservation/${self.$route.params.slug}/`)
        .then((response) => {
          self.is_reservation = true
          self.local = response.local
          self.date = response.date
          self.time = response.time
          self.phone = response.phone
          self.email = response.email
          self.message = response.message
          self.status = response.status
          self.lat = response.lat
          self.lng = response.lng
          self.loading = true
        })
        .catch((error) => {
          self.loading = true
          self.errorsDj = error.response.data
        })
    },
    NextModal(data) {
      this.showModal = false
      this.showNextModal = true
      this.is_reservation = true
      this.local = data.local
      this.date = data.date
      this.time = data.time
      this.phone = data.phone
      this.message = data.message
      this.email = data.email
      this.loading = true
      this.status = 'PE'
    }
  }
}
</script>
