<template>
  <transition name="modal ">
    <div class="modal-mask modal-reservation scroll">
      <div class="modal-wrapper">
        <form
          method="POST"
          action
          class="modal-container form-shipping"
          @submit.prevent="postOrderPickUp"
        >
          <font-awesome-icon far icon="times" class="modal-close" @click="$emit('close')" />
          <div class="modal-header">
            <img src="~assets/images/icono-reloj.png" class="img-manos" width="50" />
            <h3>Para reservar</h3>
            <p class="subtitle">complete los siguientes campos</p>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-12 form-group">
                <label for class="form-shipping__label">Local</label>
                <select
                  v-model="local_object"
                  name
                  class="form-control"
                  required
                  @change="setHours()"
                >
                  <option value>Seleccione Local</option>
                  <option v-for="lcl in locals" :value="lcl">{{ lcl.name }} - {{ lcl.address }}</option>
                </select>
                <p
                  v-for="err in getError('local')"
                  v-if="hasError('local')"
                  class="err"
                >Seleccione un local</p>
              </div>
              <div class="col-md-6 col-xs-12 form-group">
                <label for class="form-shipping__label">Fecha de la reserva</label>
                <date-picker
                  v-model="date"
                  value-type="DD-MM-YYYY"
                  format="DD-MM-YYYY"
                  :lang="lang"
                  :disabled="isDisabledLocal()"
                  :disabled-date="notBeforeToday"
                  :editable="false"
                  placeholder="Seleccione Fecha"
                  required
                ></date-picker>
                <p
                  v-for="err in getError('date')"
                  v-if="hasError('date')"
                  class="err"
                >Este campo es requerido.</p>
                <!-- <input class="form-control" type="text" /> -->
              </div>
              <div class="col-md-6 col-xs-12 form-group">
                <label for class="form-shipping__label">Hora</label>
                <select
                  id
                  v-model="time"
                  :disabled="isDisabledLocal()"
                  name
                  class="form-control"
                  required
                >
                  <option value>Seleccione Horario</option>
                  <option v-for="t in times" v-if="isTimeDisabled(t)" :value="t.text">{{ t.text }}</option>
                </select>
                <p
                  v-for="err in getError('time')"
                  v-if="hasError('time')"
                  class="err"
                >Este campo es requerido.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12 form-group">
                <label for class="form-shipping__label">Teléfono</label>
                <input
                  v-model="phone"
                  required
                  class="form-control"
                  type="text"
                  placeholder="ejemplo: 999999999"
                />
                <p v-for="err in getError('phone')" v-if="hasError('phone')" class="err">{{ err }}</p>
              </div>
              <div class="col-md-12 col-xs-12 form-group">
                <label for class="form-shipping__label">Email</label>
                <input
                  v-model="email"
                  required
                  class="form-control"
                  type="text"
                  placeholder="email"
                />
                <p v-for="err in getError('email')" v-if="hasError('email')" class="err">{{ err }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 form-group">
                <label for class="form-shipping__label">Observación adicional</label>
                <textarea id v-model="message" class="form-control" name cols="10" rows="2"></textarea>
              </div>
            </div>

            <p
              v-for="err in getError('non_field_errors')"
              v-if="hasError('non_field_errors')"
              class="err"
            >{{ err }}</p>
          </div>

          <div class="modal-footer">
            <ButtonLoading
              :loading="loading"
              class="btn btn--full-dark discount_detail__btn_download"
            >Reservar</ButtonLoading>
          </div>
        </form>
      </div>
    </div>
  </transition>
</template>
<script>
import DatePicker from 'vue2-datepicker'
import { getEmail } from '@/utils/auth'
import ButtonLoading from '@/components/base/ButtonLoading'
import errrorDJ from '@/mixins/errorDJ'

export default {
  components: {
    DatePicker,
    ButtonLoading
  },
  mixins: [errrorDJ],
  data() {
    return {
      times: [
        {
          value: new Date(2020, 1, 1, 0, 0, 0),
          text: '12:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 0, 30, 0),
          text: '12:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 1, 0, 0),
          text: '1:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 1, 30, 0),
          text: '1:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 2, 0, 0),
          text: '2:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 2, 30, 0),
          text: '2:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 3, 0, 0),
          text: '3:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 4, 30, 0),
          text: '3:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 4, 0, 0),
          text: '4:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 4, 30, 0),
          text: '4:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 5, 0, 0),
          text: '5:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 5, 30, 0),
          text: '5:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 6, 0, 0),
          text: '6:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 6, 30, 0),
          text: '6:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 7, 0, 0),
          text: '7:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 7, 30, 0),
          text: '7:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 8, 0, 0),
          text: '8:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 8, 30, 0),
          text: '8:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 9, 0, 0),
          text: '9:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 9, 30, 0),
          text: '9:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 10, 0, 0),
          text: '10:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 10, 30, 0),
          text: '10:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 11, 0, 0),
          text: '11:00 AM'
        },
        {
          value: new Date(2020, 1, 1, 11, 30, 0),
          text: '11:30 AM'
        },
        {
          value: new Date(2020, 1, 1, 12, 0, 0),
          text: '12:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 12, 30, 0),
          text: '12:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 13, 0, 0),
          text: '1:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 13, 30, 0),
          text: '1:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 14, 0, 0),
          text: '2:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 14, 30, 0),
          text: '2:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 15, 0, 0),
          text: '3:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 15, 30, 0),
          text: '3:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 16, 0, 0),
          text: '4:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 16, 30, 0),
          text: '4:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 17, 0, 0),
          text: '5:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 17, 30, 0),
          text: '5:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 18, 0, 0),
          text: '6:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 18, 30, 0),
          text: '6:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 19, 0, 0),
          text: '7:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 19, 30, 0),
          text: '7:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 20, 0, 0),
          text: '8:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 20, 30, 0),
          text: '8:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 21, 0, 0),
          text: '9:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 21, 30, 0),
          text: '9:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 22, 0, 0),
          text: '10:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 22, 30, 0),
          text: '10:30 PM'
        },
        {
          value: new Date(2020, 1, 1, 23, 0, 0),
          text: '11:00 PM'
        },
        {
          value: new Date(2020, 1, 1, 23, 30, 0),
          text: '11:30 PM'
        }
      ],
      lang: {
        formatLocale: {
          monthsShort: [
            'Ene',
            'Feb',
            'Mar',
            'Abr',
            'May',
            'Jun',
            'Jul',
            'Ago',
            'Sep',
            'Oct',
            'Nov',
            'Dic'
          ],
          weekdaysMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']
        }
      },
      info: {
        company_service: ''
      },
      locals: [],
      local: '',
      local_object: '',
      time: '',
      date: null,
      phone: '',
      message: '',
      email: '',
      loading: false,
      hours: [],
      local_dates_off: [],
      is_only_hour: false,
      is_open: false,
      is_open_two: false,
      is_open_three: false,
      limit_hour: 0,
      new_today: ''
    }
  },
  computed: {
    getTimeActive() {
      return this.times
    }
  },
  created() {
    this.getLocals()
    this.email = getEmail()
    const today = this.$store.getters.getToday
    const new_today = new Date(today)
    new_today.setDate(new_today.getDate() + 1)
    this.new_today = new Date(new_today)
  },
  mounted() {
    document.querySelector('body').classList.add('hidden')
  },
  methods: {
    isDisabledLocal() {
      return !this.local
    },
    getTime(time_split) {
      const time = new Date(2020, 1, 1)
      time.setHours(time_split[0], time_split[1], 0)
      return time
    },
    isTimeDisabled(time) {
      if (this.local_object) {
        if (this.local_object.local_hours.length > 0) {
          let status = false
          for (const item of this.local_object.local_hours) {
            const time_start_split = item.start.split(':')
            const time_end_split = item.end.split(':')
            const start = this.getTime(time_start_split).getTime() - 1000
            const end = this.getTime(time_end_split).getTime()
            if (start <= time.value.getTime() && time.value.getTime() <= end) {
              status = true
              break
            }
          }
          return status
        } else {
          return true
        }
      } else {
        return true
      }
    },
    getTimeHour(time_split) {
      const time_hour = new Date()
      time_hour.setHours(time_split[0], 0, 0)
      return time_hour
    },
    setHours() {
      const self = this
      this.local = this.local_object.id
      this.time = ''
      this.date = null
      if (this.local_object) {
        if (this.local_object.local_dates.length > 0) {
          this.local_dates_off = this.local_object.local_dates.map((elem) => {
            return elem.date
          })
        }
      } else {
        this.local_dates_off = []
        this.hours = []
      }
    },
    notBeforeToday(date) {
      const d = date.toISOString().slice(0, 10)
      const day_week = date.getDay()
      if (date < this.new_today) {
        return true
      } else if (
        this.local_dates_off.includes(d) ||
        this.local_object.date_of_week_inactive.includes(day_week)
      ) {
        return true
      } else {
        return false
      }
    },
    getLocals() {
      const self = this
      self.$axios
        .$get(`/products/${self.$route.params.slug}/locals/reservation`)
        .then((response) => {
          self.locals = response
        })
    },
    postOrderPickUp() {
      const self = this
      self.loading = true
      self.$axios
        .$post(`/order/reservation/${self.$route.params.slug}/`, {
          local: self.local,
          phone: self.phone,
          time: self.time,
          date: self.date,
          message: self.message,
          email: self.email
        })
        .then((response) => {
          self.loading = false
          self.$emit('closeNextModal', {
            local: response.local,
            date: response.date,
            time: response.time,
            phone: response.phone,
            email: response.email,
            message: response.message
          })
        })
        .catch((error) => {
          self.loading = false
          self.errorsDj = error.response.data
        })
    },
    nextModalThanks() {
      this.$emit('closeNextModal')
    }
  }
}
</script>
<style lang="scss"></style>
