<template>
  <form id="login-form" method="POST" action class="login-container" @submit.prevent="login">
    <span></span>
    <h4>INGRESAR TU CÓDIGO DE REGALO</h4>
    <input v-model="code" type="text" maxlength="100" required="required" placeholder="Código" />
    <p v-for="err in errors['code']" v-if="errors" class="form__error">{{ err }}</p>
    <button class="btn btn-main btn-main-next">
      Siguiente
      <font-awesome-icon far icon="arrow-right" class="header__menu__icon" />
    </button>
    <a class="link__back" href @click.prevent="backChangeView()">< Atras</a>
  </form>
</template>
<script>
export default {
  data() {
    return {
      code: '',
      errors: []
    }
  },
  methods: {
    changeView() {
      this.$emit('changeView', 'LoginCreateAccount')
    },
    backChangeView() {
      this.$emit('changeView', 'LoginDocument')
    },
    login() {
      const self = this
      this.$axios
        .$post('/login/access-code/', {
          code: self.code
        })
        .then((response) => {
          self.$cookies.set('account_code', self.code)
          self.$emit('changeView', 'LoginCreateAccount')
        })
        .catch((error) => {
          self.errors = error.response.data
        })
    }
  }
}
</script>
