<template>
  <transition name="modal ">
    <div class="modal-mask modal-recojo-tienda">
      <div class="modal-wrapper">
        <form
          method="POST"
          action
          class="modal-container form-shipping"
          @submit.prevent="postOrderPickUp"
        >
          <font-awesome-icon
            far
            icon="times"
            class="modal-close"
            @click="$emit('close')"
          />
          <div class="modal-header">
            <img
              src="~assets/images/Importante.png"
              class="img-manos"
              width="50"
            />
            <h3>Aviso Urgente</h3>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-12 form-group text-center">
                Debido a las nuevas restricciones dispuestas por el gobierno,
                hemos tenido que modificar las fechas de entrega previstas. En
                el caso de Lima los pedidos podrán demorar hasta 7 días hábiles
                y en el caso de provincias hasta 15. Le pedimos las disculpas
                del caso y agradecemos su comprensión.
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  data() {
    return {}
  },
  created() {},
  mounted() {
    console.log('mounte')
    document.querySelector('body').classList.add('hidden')
  },
  methods: {}
}
</script>
<style lang="scss"></style>
