<template>
  <footer class="footer">
    <div class="container footer__content">
      <div class="footer__logo">
        <img class="footer__image" src="~assets/images/IconW.png" alt />
      </div>
      <div class>
        <h3 class="footer__title">Servicios</h3>
        <ul class="footer__list">
          <li v-for="page in pages">
            <nuxt-link
              :to="{ name: 'pages-slug', params: { slug: page.url } }"
              class="footer__list__link"
              >{{ page.title }}</nuxt-link
            >
          </li>
        </ul>
      </div>
      <div class="footer__information">
        <h3 class="footer__title">Contacto</h3>
        <!-- <p class="footer__text">Teléfono (01) 2217330</p> -->
        <p class="footer__text">Av. Paseo de la República 3952, Miraflores</p>
        <div class="footer__information__whatsapp">
          <p class="footer__information__question">¿Tienes una consulta?</p>
          <a
            target="_blank"
            href="https://api.whatsapp.com/send?phone=+51989271936"
            class="btn btn--dark btn--full-dark-text-green-bold"
            >Escríbenos</a
          >
        </div>
      </div>
      <!-- <div class="footer__left">
        <ul class="footer__left__ul">
          <li v-for="page in pages">
            <nuxt-link
              class="footer__link"
              :to="{ name: 'pages-slug', params: { slug: page.url } }"
            >{{ page.title }}</nuxt-link>
          </li>
        </ul>
      </div>
      <div class="footer__right">
        <div class="footer__right__ws">
          <img src="~/assets/images/ws.png" alt />
        </div>
        <div class="footer__right__paragraph">
          <p>
            Para realizar una consulta envíanos un mensaje por
            <a
              target="_blank"
              href="https://api.whatsapp.com/send?phone=+51989272126"
            >Whatsapp al 989272126</a>
          </p>
        </div>
      </div>-->
    </div>
  </footer>
</template>
<script>
export default {
  name: 'FooterMenu',
  data() {
    return {
      pages: []
    }
  },
  created() {
    this.getPages()
  },
  methods: {
    getPages() {
      const self = this
      self.$axios
        .$get('block/pages/', {
          params: {
            'fields!': 'content'
          }
        })
        .then((response) => {
          self.pages = response
        })
        .catch((error) => {
          console.log(error, 'error')
        })
    }
  }
}
</script>
