<template>
  <div class="container">
    <div class="category_skeleton" v-for="x in '12'">
      <div class="category_skeleton__item">
        <div class="category_skeleton__image"></div>
        <div class="category_skeleton__title"></div>
      </div>
      <ProductListItemPlaceholder />
    </div>
  </div>
</template>
<script>
import ProductListItemPlaceholder from '@/components/placeholder/ProductListItemPlaceholder'

export default {
  name: 'ProductCategoryPlaceholder',
  components: {
    ProductListItemPlaceholder
  }
}
</script>
