<template>
  <div class="product-skeleton__item">
    <div class="product-skeleton__item__image"></div>
    <div class="product-skeleton__item__company"></div>
    <div class="product-skeleton__item__name"></div>
  </div>
</template>
<script>
export default {
  name: 'ProductItemPlaceholder',
  methods: {}
}
</script>
