<template>
  <div class="product-skeleton">
    <ProductItemPlaceholder />
    <ProductItemPlaceholder />
    <ProductItemPlaceholder />
    <ProductItemPlaceholder />
  </div>
</template>
<script>
import ProductItemPlaceholder from './ProductItemPlaceholder'
export default {
  name: 'ProductListItemPlaceholder',
  components: {
    ProductItemPlaceholder
  },
  methods: {}
}
</script>
