<template>
  <div class="content_page">
    <section class="discount_detail">
      <div class="discount_detail__content discount_detail__content--bg">
        <div v-if="product.video" class="discount_detail__video_container">
          <client-only>
            <youtube
              ref="youtube"
              :video-id="getYoutubeId()"
              :player-vars="playerVars"
              class="discount_detail__video"
            ></youtube>
          </client-only>
        </div>
        <div
          v-else
          class="discount_detail__banner"
          :style="{ backgroundImage: 'url(' + product.image_url + ')' }"
        ></div>
      </div>
      <div
        class="discount_detail__content discount_detail__content--bg discount_detail__content--body"
      >
        <div class="discount_detail__content_company">
          <div class="discount_detail__content_company__block">
            <img
              :src="product.company_service.image"
              alt
              class="discount_detail__content_company__block__image"
            />
            <div class="discount_detail__content_company__block__title">
              <h3 class="discount_detail__content_company__block__name">
                {{ product.company_service.business_name }}
              </h3>
            </div>
          </div>
          <component :is="component_service" :product="product"></component>
          <!-- <a
            v-if="product.company_service.url"
            :href="product.company_service.url"
            class="discount_detail__locals"
          >
            <img src="~assets/images/Link.png" width="15" />

            <span>Ver Web</span>
          </a>
          <nuxt-link
            v-else
            :to="{ name: 'p-slug-mapa', params: { slug: product.slug } }"
            class="discount_detail__locals"
          >
            <img src="~assets/images/mapicon.png" width="15" />
            <span>Ver Locales</span>
          </nuxt-link>-->
        </div>
        <div class="discount_detail__terms">
          <h4 class="discount_detail__terms__title">El regalo incluye:</h4>
          <div
            class="discount_detail__terms__content"
            v-html="product.product_product_variants[0].description"
          ></div>
          <div class>
            <div v-if="product.text_button" class>
              <div
                v-if="
                  product.url_button || product.product_product_variants[0].file
                "
              >
                <a
                  v-if="product.url_button"
                  target="_blank"
                  :href="product.url_button"
                  class="btn btn--full-dark discount_detail__btn_download mt-10"
                  >{{ product.text_button }}</a
                >
                <a
                  v-else
                  target="_blank"
                  :href="product.product_product_variants[0].file"
                  download="file"
                  class="btn btn--full-dark discount_detail__btn_download mt-10"
                  >{{ product.text_button }}</a
                >
              </div>
            </div>
            <div v-if="product.data_extra.marcadores">
              <table class="mt-10">
                <tr v-for="marc in product.data_extra.marcadores">
                  <td>{{ marc.col_1 }}</td>
                  <td>{{ marc.col_2 }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="discount_detail__separator"></div>
          <ProductDetailMap
            v-if="!product.company_service.url && product.type_service != 'D'"
          />

          <!-- <div class="discount_detail__terms__content">{{product.data_extra}}</div> -->
          <h4 class="discount_detail__terms__title">Términos y condiciones:</h4>
          <div
            class="discount_detail__terms__content"
            v-html="product.terms_conditions"
          ></div>
          <!-- <h4 class="discount_detail__terms__title ">
            ¿Cómo funciona?
          </h4>
          <img
            class="img-responsive discount_detail__img_funciona"
            src="~assets/images/detail_step.png"
          />-->
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { getIdFromUrl } from 'vue-youtube'
import ProductCode from '@/components/product/ProductCode'
import Delivery from '@/components/product_service/Delivery'
import Reservation from '@/components/product_service/Reservation'
import RecojoTienda from '@/components/product_service/RecojoTienda'
import ProductDetailMap from '@/components/product/ProductDetailMap'
import OrderCommerce from '@/components/product_service/OrderCommerce'
export default {
  name: 'Product',
  middleware: 'authenticated',
  components: {
    ProductCode,
    Delivery,
    Reservation,
    RecojoTienda,
    ProductDetailMap,
    OrderCommerce
  },
  head() {
    return {
      title: `Weeare | ${this.product.title}`,
      meta_description: this.product.meta_description,
      meta: [
        { hid: 'og-title', property: 'og:title', content: this.product.title },
        {
          hid: 'description',
          name: 'description',
          content: this.product.meta_description
        }
        // other meta
      ]
    }
  },
  data() {
    return {
      component_service: '',
      product: {},
      playerVars: {
        autoplay: 1,
        controls: 0,
        modestbranding: 1,
        // licy: 2,
        // listType: 'user_uploads',
        // list: 0,
        border: '#FFF',
        loop: 0,
        rel: 0,
        showinfo: 0
      }
    }
  },
  async asyncData({ app, params, error }) {
    try {
      const product = await app.$axios.$get(`/products/${params.slug}/`)
      return { product }
    } catch (e) {
      error({
        message: 'Descuento no encontrado',
        statusCode: 405,
        type: 'page'
      })
    }
  },
  created() {
    this.getTypeSerivce()
    this.playerVars.playlist = this.getYoutubeId()
  },
  methods: {
    getYoutubeId() {
      return getIdFromUrl(this.product.video)
    },
    getTypeSerivce() {
      const service = this.product.type_service
      if (service === 'F') {
        this.component_service = ''
      }
      if (service === 'R') {
        this.component_service = 'Reservation'
        // this.component_service = ''
      }
      if (
        service === 'RT' &&
        (this.product.type_discount == 3 || this.product.type_discount == 5)
      ) {
        this.component_service = 'RecojoTienda'
      }
      if (
        service === 'D' &&
        (this.product.type_discount == 3 || this.product.type_discount == 5)
      ) {
        this.component_service = 'Delivery'
      }
      if (
        service === 'OC' &&
        (this.product.type_discount == 3 || this.product.type_discount == 5)
      ) {
        this.component_service = 'OrderCommerce'
      }
      if (
        service === 'P' &&
        (this.product.type_discount == 3 || this.product.type_discount == 5)
      ) {
        this.component_service = 'ProductCode'
      }
    }
  }
}
</script>
