<template>
  <div class="content_page">
    <section class="discount_detail">
      <div class="discount_detail__content_new ">
        <client-only v-if="product.video">
          <youtube
            ref="youtube"
            :video-id="getYoutubeId()"
            :player-vars="playerVars"
            class="discount_detail__video"
          ></youtube>
        </client-only>
        <div
          v-else
          class="discount_detail__banner"
          :style="{ backgroundImage: 'url(' + product.image_url + ')' }"
        ></div>
        <div
          class="container discount_detail__content_new discount_detail__content--company"
        >
          <div class="discount_detail__company">
            <h3 class="discount_detail__company__name">
              {{ product.company_service.business_name }}
            </h3>
            <a
              v-if="product.company_service.url"
              :href="product.company_service.url"
              class="discount_detail__company__locals"
            >
              <img src="~assets/images/Link.png" width="15" />

              <span>Ver Web</span>
            </a>
            <nuxt-link
              v-else
              :to="{ name: 'p-slug-mapa', params: { slug: product.slug } }"
              class="discount_detail__company__locals"
            >
              <img src="~assets/images/mapicon.png" width="15" />
              <span>Ver Locales</span>
            </nuxt-link>
          </div>
        </div>
      </div>
      <div class="container discount_detail__content_new">
        <div class="discount_detail__terms">
          <h4 class="discount_detail__terms__title text-center">
            ¿Qué incluye?
          </h4>
          <div
            class="discount_detail__terms__content"
            v-html="product.product_product_variants[0].description"
          ></div>
          <div class>
            <div v-if="product.text_button" class>
              <div
                v-if="
                  product.url_button || product.product_product_variants[0].file
                "
              >
                <a
                  v-if="product.url_button"
                  target="_blank"
                  :href="product.url_button"
                  class="btn btn--full-dark discount_detail__btn_download mt-10"
                  >{{ product.text_button }}</a
                >
                <a
                  v-else
                  target="_blank"
                  :href="product.product_product_variants[0].file"
                  download="file"
                  class="btn btn--full-dark discount_detail__btn_download mt-10"
                  >{{ product.text_button }}</a
                >
              </div>
            </div>
            <div v-if="product.data_extra.marcadores">
              <table class="mt-10">
                <tr v-for="marc in product.data_extra.marcadores">
                  <td>{{ marc.col_1 }}</td>
                  <td>{{ marc.col_2 }}</td>
                </tr>
              </table>
            </div>

            <component :is="component_service" :product="product"></component>
            <!-- <ProductCode v-if="product.has_code_pdf" :text_pdf="product.data_extra.pdf_text" /> -->
          </div>
          <!-- <div class="discount_detail__terms__content">{{product.data_extra}}</div> -->
          <h4 class="discount_detail__terms__title text-center">
            Términos y condiciones
          </h4>
          <div
            class="discount_detail__terms__content"
            v-html="product.terms_conditions"
          ></div>
          <h4 class="discount_detail__terms__title text-center">
            ¿Cómo funciona?
          </h4>
          <img
            class="img-responsive discount_detail__img_funciona"
            src="~assets/images/detail_step.png"
          />
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { getIdFromUrl } from 'vue-youtube'
import ProductCode from '@/components/product/ProductCode'
import Delivery from '@/components/product_service/Delivery'
import Reservation from '@/components/product_service/Reservation'
import RecojoTienda from '@/components/product_service/RecojoTienda'

export default {
  name: 'Product',
  middleware: 'authenticated',
  components: {
    ProductCode,
    Delivery,
    Reservation,
    RecojoTienda
  },
  head() {
    return {
      title: `Weeare | ${this.product.title}`,
      meta_description: this.product.meta_description,
      meta: [
        { hid: 'og-title', property: 'og:title', content: this.product.title },
        {
          hid: 'description',
          name: 'description',
          content: this.product.meta_description
        }
        // other meta
      ]
    }
  },
  data() {
    return {
      component_service: '',
      product: {},
      playerVars: {
        autoplay: 1
      }
    }
  },
  async asyncData({ app, params, error }) {
    try {
      const product = await app.$axios.$get(`/products/${params.slug}/`)
      return { product }
    } catch (e) {
      error({
        message: 'Descuento no encontrado',
        statusCode: 405,
        type: 'page'
      })
    }
  },
  created() {
    this.getTypeSerivce()
  },
  methods: {
    getYoutubeId() {
      return getIdFromUrl(this.product.video)
    },
    getTypeSerivce() {
      const service = this.product.type_service
      if (service === 'F') {
        this.component_service = ''
      }
      if (service === 'R') {
        // this.component_service = 'Reservation'
        this.component_service = ''
      }
      if (
        service === 'RT' &&
        (this.product.type_discount == 3 || this.product.type_discount == 5)
      ) {
        this.component_service = 'RecojoTienda'
      }
      if (
        service === 'D' &&
        (this.product.type_discount == 3 || this.product.type_discount == 5)
      ) {
        this.component_service = 'Delivery'
      }
      if (
        (service === 'P' || this.product.has_code_pdf) &&
        (this.product.type_discount == 3 || this.product.type_discount == 5)
      ) {
        this.component_service = 'ProductCode'
      }
    }
  }
}
</script>
