$default-color: #555;
$primary-color: $color-green;

@import '~vue2-datepicker/scss/index.scss';
.mx-calendar-content td {
  border: none;
  text-align: center;
}
.mx-calendar-content th {
  border: none;
  text-align: center;
}
.mx-table {
  border: none;
  text-align: center;
}

.mx-calendar-content tbody tr:first-child {
  font-weight: normal;
}
.mx-datepicker-main {
  color: $color-black3 !important;
}
.mx-btn-text {
  color: $color-black2;
}
.mx-calendar-content .cell.active {
  background-color: $color-green;
}
.mx-datepicker {
  width: 100%;
}

.mx-time-column .mx-time-item.disabled {
  display: none;
}
