<template>
  <component
    :is="tag"
    v-bind="$attrs"
    class="btnLanding"
    :class="typeButton"
    :style="{ width: width }"
    :disabled="disabled"
  >
    <slot></slot>
  </component>
</template>
<script>
export default {
  inheritAttrs: false,
  props: {
    width: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    tag: {
      type: String,
      default: 'Button'
    },
    typeButton: {
      type: String,
      default: 'main'
    }
  }
}
</script>
