<template>
  <div class="content_page">
    <section class="section_category">
      <div class="home__banner_principal">
        <img :src="category.banner_url" class="home__banner_principal__img img-responsive" />
      </div>
      <div class="container">
        <div class="section_category__title text-center">
          <!-- <nuxt-link :to="{name: 'index'}" class="go_back">
            <font-awesome-icon :icon="['fas', 'long-arrow-alt-left']" class />
            <span>Regresar</span>
          </nuxt-link>-->
          <div class="d-flex align-items-center">
            <img :src="category.image_url" width="50" height />
            <h2>{{ category.name }}</h2>
          </div>
        </div>
        <ProductFilter :category="category_slug" :city="city" @changeCity="changeCity" />
        <ProductList v-if="!load" :products="products" />
        <ProductListItemPlaceholder v-else />
      </div>
    </section>
  </div>
</template>
<script>
import ProductList from '@/components/product/ProductList'
import ProductFilter from '@/components/product/ProductFilter'
import ProductListItemPlaceholder from '@/components/placeholder/ProductListItemPlaceholder'
export default {
  name: 'CategorySlug',
  middleware: 'authenticated',
  components: {
    ProductList,
    ProductFilter,
    ProductListItemPlaceholder
  },
  head() {
    return {
      title: `Weeare | ${this.category.title}`,
      meta_description: this.category.meta_description,
      meta: [
        { hid: 'og-title', property: 'og:title', content: this.category.title },
        {
          hid: 'description',
          name: 'description',
          content: this.category.meta_description
        }
        // other meta
      ]
    }
  },
  data() {
    return {
      products: [],
      city: '',
      category_slug: '',
      load: false
    }
  },
  computed: {
    baseUrlMedia() {
      return this.$store.getters.BaseUrlMedia
    }
  },
  async asyncData({ app, params, error }) {
    try {
      const category = await app.$axios.$get(`/categories/${params.slug}/`)
      const products = await app.$axios.$get(`/products/`, {
        params: {
          crop_image: '280x200',
          category: params.slug,
          'fields!': 'terms_conditions,data_extra'
          // '280x200'
        }
      })
      return { category, products }
    } catch (e) {
      error({
        message: 'Ups.. Categoría no encontrada',
        statusCode: 404,
        type: 'page'
      })
    }
  },
  mounted() {
    document.querySelector('body').classList.remove('hidden')
  },
  created() {
    this.category_slug = this.$route.params.slug
  },
  methods: {
    changeCity() {
      this.getProducts()
    },
    getProducts() {
      const self = this
      self.load = true
      this.$axios
        .$get(`/products/`, {
          params: {
            crop_image: '280x200',
            category: self.category_slug,
            city: self.city,
            'fields!': 'terms_conditions,data_extra'
            // '280x200'
          }
        })
        .then((response) => {
          console.log(response, 'sssss')
          self.products = response
          self.load = false
        })
    }
  }
}
</script>
