#contact {
  padding: 1em 0;
  @include tablet {
    padding: 6em 0;
  }
  .title {
    padding-bottom: 0.5em;
    @include tablet {
      padding-bottom: 2em;
    }
  }

  form {
    width: 90%;
    @include tablet {
      width: 500px;
    }
    margin: 0 auto;

    label,
    button {
      margin-top: 15px;
      width: 100%;
    }
  }
  .thanks {
    margin: auto;

    max-width: 500px;
    text-align: center;
    .send {
      font-size: 26px;
      font-weight: bold;
    }
    .btn {
      margin-top: 15px;
    }
  }
}
