#home-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include tablet {
    position: relative;
    // height: 680px;
    // // background-image: url(./../images/home-background.png);
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-position: center bottom;
    // background-size: cover;
  }
  > .row {
    margin: 0;
    width: 100%;
    position: inherit;
    @include tablet {
      padding: 0 10px;
      position: absolute;
      margin: auto;
      height: 100%;
      & > div:first-of-type {
        order: 0 !important;
      }
    }
    @include laptop-small {
      padding: 0 40px;
      margin-right: -15px;
      margin-left: -15px;
    }
    @include desktop {
      padding: 0 80px;
    }
    & > div:first-of-type {
      order: 2;
    }
  }
  h2 {
    font-family: workSansBold;
    font-size: 50px;
  }
  .home-top-container-buttons {
    position: absolute;
    bottom: 50px;
    right: 30px;
    left: 30px;
    @include tablet {
      position: static;
    }
    @include laptop-small {
      margin-top: 5em;
    }
    .btn-main {
      width: 100%;
      @include tablet {
        width: auto;
      }
    }
  }
  p {
    font-size: 20px;
    @include laptop-small {
      width: 70%;
    }
  }
  .home-top-left {
    // background-image: url(./../images/home-background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-size: cover;
    // padding: 2em 1.5em;
    // height: 720px;
    @include tablet {
      background: none;
      height: auto;
    }
  }
  .home-top-right {
    display: flex;
    flex-direction: column;

    @include tablet {
      margin-top: 115px;
      align-items: flex-end;
    }
  }
  @include desktop-small {
    h2 {
      font-size: 70px;
    }
  }
  .home-top-video {
    width: 100%;
    height: auto;
  }
}

#home-bottom {
  background-color: $color-gray2;
  .row {
    align-items: center;
    padding: 3em 1em 2em;
    @include tablet {
      height: 200px;
      padding: 0;
    }
    h2 {
      margin-bottom: 13px;
      margin-top: 40px;
      font-family: WorkSansSemiBold;
      font-size: 24px;
      @include tablet {
        margin-top: 0;
        font-size: 18px;
      }
    }
    p {
      font-size: 16px;
      text-align: justify;
      @include tablet {
        padding-right: 4em;
      }
    }
  }
}
