#services {
    padding-top: 2em;
    padding-bottom: 5em;
    text-align: center;
    display: none;
    @include tablet {
      display: block;
    }
    & > h2 {
      margin-bottom: 20px;
      font-size: 18px;
      font-family: WorkSansSemiBold;
      color: $color-gray4;
    }
    & > h3 {
      font-size: 46px;
      font-family: workSansBold;
      margin: 0 auto 15px;
    }
    & > p {
      font-size: 20px;
    }
    .row {
      margin-top: 1em;
      text-align: left;
      &:first-of-type {
        margin-top: 5em;
      }
      h3 {
        font-size: 16px;
        font-family: WorkSansSemiBold;
      }
      p {
        padding-right: 3em;
        font-size: 14px;
        text-align: justify;
      }
      i {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 7px;
      }
      &:nth-of-type(1) {
        & > div:nth-of-type(1) i {
          background-image: url(./../images/icons/comercial.png);
        }
        & > div:nth-of-type(2) i {
          background-image: url(./../images/icons/capacitacion.png);
        }
        & > div:nth-of-type(3) i {
          background-image: url(./../images/icons/mystery.png);
        }
      }
      &:nth-of-type(2) {
        & > div:nth-of-type(1) i {
          background-image: url(./../images/icons/servicio.png);
        }
        & > div:nth-of-type(2) i {
          background-image: url(./../images/icons/validacion.png);
        }
        & > div:nth-of-type(3) i {
          background-image: url(./../images/icons/facturacion.png);
        }
      }
    }
  }