<template>
  <div class="wrapper">
    <HeaderBlank />
    <nuxt />
    <FooterMenu />
  </div>
</template>
<script>
import HeaderBlank from '@/components/common/HeaderBlank'
import FooterMenu from '@/components/common/FooterMenu'
export default {
  components: {
    HeaderBlank,
    FooterMenu
  }
}
</script>
