<template>
  <div class="wrapper">
    <HeaderMenu />
    <nuxt />
    <FooterMenu />
  </div>
</template>
<script>
import HeaderMenu from '@/components/common/HeaderMenu'
import FooterMenu from '@/components/common/FooterMenu'
export default {
  components: {
    HeaderMenu,
    FooterMenu
  }
}
</script>
