<template>
  <div class="nuxt-error">
    <component :is="errorPage" :error="error" />
  </div>
</template>
<script>
import error404Page from '@/components/error/404.vue'
export default {
  name: 'nuxt-error',
  layout: 'blank',
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  },
  components: {},
  computed: {
    errorPage() {
      return error404Page
    }
  }
}
</script>
