<template>
  <div class="wrapper">
    <HeaderMenu :background="menu" />
    <nuxt />
    <FooterMenu />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import HeaderMenu from '~/components/landing/HeaderMenu'
import FooterMenu from '@/components/landing/FooterMenu'
export default {
  components: {
    HeaderMenu,
    FooterMenu
  },
  computed: {
    ...mapState(['menu'])
  }
}
</script>
<style lang="scss">
@import '~/assets/main/landing/main.scss';
</style>
