<template>
  <div class="discount_detail__content_map">
    <!-- <div v-if="has_current" class="discount_detail__content_map__local">
      <h3 class="discount_detail__content_map__local__title">
        Local más cercano
      </h3>
      <p class="discount_detail__content_map__local__description">
        {{ local_active.name }} - {{ local_active.address }}
      </p>
      <div v-if="local_active.day_atention">
        <h3 class="discount_detail__content_map__local__title">
          Horario de atención
        </h3>
        <p class="discount_detail__content_map__local__description">
          {{ local_active.day_atention }}
        </p>
      </div>
    </div> -->
    <div class="discount_detail__content_map__local">
      <h3 class="discount_detail__content_map__local__title">
        Locales
      </h3>
      <div class="multiselect__wrapp">
        <multiselect
          v-model="local_select"
          :options="locals"
          :preserve-search="true"
          placeholder="Seleccione Local"
          label="name"
          track-by="id"
          :show-labels="false"
          :allow-empty="false"
          @input="changeLocal"
        >
          <template
            slot="singleLabel"
            slot-scope="{ option }"
            class="multiple__single multiple__no_wrap"
          >
            <span>{{ option.name }} - {{ option.address }} </span>
            <span v-if="option.day_atention">
              - Horario de atención: {{ option.day_atention }}</span
            >
          </template>
          <template slot="option" slot-scope="props">
            <div class="option__desc">
              <span class="option__text">{{ props.option.name }} -</span>
              <span class="option__text">{{ props.option.address }}</span>
            </div>
          </template>
          <template slot="placeholder">
            <div class="">
              Seleccione Local
            </div>
          </template>
        </multiselect>
      </div>
      <a
        v-b-tooltip.hover
        href=""
        class="discount_detail__content_map__local__search_near"
        title="Habilite su Ubicación"
        @click.prevent="searchLocalNear()"
        >Buscar local mas cercano</a
      >
    </div>

    <div
      id="googleMap"
      ref="googleMap"
      class="discount_detail__content_map__map"
    ></div>
  </div>
</template>
<script>
import config from '@/config'
import GoogleMapsApiLoader from 'google-maps-api-loader'
export default {
  name: 'ProductDetailMap',
  data() {
    return {
      google: '',
      apiKey: config.GOOGLE_API_KEY,
      map: '',
      location: {
        lat: '',
        lng: ''
      },
      isActiveMap: false,
      isActiveCloseMap: false,
      locals: [],
      has_current: false,
      local_active: {
        address: '',
        day_atention: ''
      },
      local_select: {},
      position: null
    }
  },
  mounted() {
    const self = this
    GoogleMapsApiLoader({
      libraries: ['places'],
      apiKey: self.apiKey, // optional,
      version: 3
    }).then(
      function(googleApi) {
        self.google = googleApi
        self.getLocals()
      },
      function(err) {}
    )
  },
  methods: {
    getLocals() {
      const self = this
      this.$axios({
        method: 'get',
        url: '/products/' + self.$route.params.slug + '/locals/'
      })
        .then((response) => {
          self.locals = response.data
          self.renderMap()
          if (self.locals.length > 0) {
            self.local_active = response.data[0]
            self.local_select = response.data[0]
            self.setPosition(self.local_active)
          }
          self.getCurrentLocation()
        })
        .catch((error) => {})
    },
    renderMap() {
      const self = this
      const element = this.$refs.googleMap
      this.map = new this.google.maps.Map(element, {
        zoom: 10,
        center: {
          lat: this.locals[0].lat,
          lng: this.locals[0].lng
        },
        mapTypeControl: false
      })
      self.map.setZoom(14)
      self.createMaker()
    },
    createMaker(lat, lng) {
      const self = this
      for (let i = self.locals.length - 1; i >= 0; i--) {
        const marker = new self.google.maps.Marker({
          map: self.map,
          draggable: false,
          animation: self.google.maps.Animation.DROP,
          position: new self.google.maps.LatLng(
            self.locals[i].lat,
            self.locals[i].lng
          )
        })
        const latLng = marker.getPosition()
        self.map.setCenter(latLng)
        // self.map.setZoom(16)
      }
    },
    setPosition(lcl) {
      const location = new this.google.maps.LatLng(lcl.lat, lcl.lng)
      this.map.setCenter(location)
      this.map.setZoom(15)
    },
    getCurrentLocation() {
      const self = this
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
            self.position = pos
            self.getLocalNear(pos)
          },
          (e) => {
            console.log('error', e)
          }
        )
      } else {
        console.log('not position')
      }
    },
    getLocalNear(pos) {
      const self = this
      this.$axios({
        method: 'get',
        params: pos,
        url: '/products/' + self.$route.params.slug + '/locals/current/'
      }).then((response) => {
        self.has_current = true
        self.local_active = response.data
        self.local_select = response.data
        self.setPosition(self.local_active)
      })
    },
    searchLocalNear() {
      if (!this.position) {
        this.getCurrentLocation()
      } else {
        this.getLocalNear(this.position)
      }
    },
    customeLabel({ name, address }) {
      return `${name} - ${address}`
    },
    changeLocal(value) {
      if (value) {
        this.setPosition(value)
      }
    }
  }
}
</script>
