<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <font-awesome-icon far icon="times" class="modal-close" @click="$emit('close')" />
          <div class="modal-header">
            <img src="~assets/images/manos.png" class="img-manos" width="100" />
            <h3>Validar regalo</h3>
          </div>

          <div class="modal-body">
            <p
              class="text-center"
            >Al presionar Aceptar se invalidarán las demás opciones de regalos.</p>
          </div>

          <div class="modal-footer">
            <button
              class="btn btn--full-dark discount_detail__btn_download"
              @click.prevent="postCode()"
            >Aceptar</button>
          </div>
        </div>
        <!-- <div class="modal-container" v-else>
          <div class="modal-body">
            <p>No encontramos codigo para este descuento</p>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn--full-dark discount_detail__btn_download"
              @click="$emit('close')"
            >Cerrar</button>
          </div>
        </div>-->
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  data() {
    return {
      info: {
        company_service: ''
      }
    }
  },
  mounted() {
    document.querySelector('body').classList.add('hidden')
  },
  methods: {
    postCode() {
      const self = this
      this.$axios({
        method: 'post',
        url: '/products/' + self.$route.params.slug + '/code/'
      })
        .then((response) => {
          self.showModal = true
          self.exist_data = true
          self.info = response.data
          self.$emit('closeCode')
          self
            .$axios({
              method: 'get',
              url: '/products/' + self.$route.params.slug + '/code/pdf/',
              responseType: 'blob'
            })
            .then((response) => {
              const url = window.URL.createObjectURL(new Blob([response.data]))
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', self.info.company_service + '.pdf')
              document.body.appendChild(link)
              link.click()
            })
        })
        .catch((error) => {
          self.showModal = true
          self.exist_data = false
        })
    }
  }
}
</script>
<style></style>
