<template>
  <div v-if="cities.length > 1" class="product_filter">
    <div class="product_filter__item">
      <label for>Ciudades</label>
      <select id v-model="filter.city" name class="form-control" @change="changeCity($event)">
        <option value>Todos</option>
        <option v-for="c in cities" :value="c.slug">{{ c.name }}</option>
      </select>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ProductFilter',
  props: ['city', 'category'],
  data() {
    return {
      cities: [],
      filter: {
        city: ''
      }
    }
  },
  created() {
    this.filter.city = this.city
    this.getCities()
  },
  methods: {
    getCities() {
      const self = this
      this.$axios
        .get('/block/cities/', {
          params: {
            category: self.category
          }
        })
        .then((response) => {
          self.cities = response.data
        })
    },
    changeCity(e) {
      this.$emit('changeCity', this.filter.city)
    }
  }
}
</script>
