<template>
  <div v-if="exist_code & product.has_code_pdf" class="gift">
    <h4 class="discount_detail__terms__title text-center">Para validar tu regalo</h4>
    <p class="text-center">{{ product.data_extra.text_pdf }}</p>
    <p v-if="existInfo()" class="gift__text_print text-center">
      <ButtonLoading
        :loading="loading"
        class="btn btn--full-dark text-center"
        @click.native="downloadPdf"
      >Imprimir</ButtonLoading>
    </p>
    <a
      v-else
      href
      class="btn btn--full-dark discount_detail__btn_download mt-20 text-center"
      @click.prevent="showModal = true"
    >Descargar</a>
    <product-code-modal v-if="showModal" @closeCode="closeCode" @close="closeModal"></product-code-modal>
  </div>
</template>
<script>
import ProductCodeModal from '@/components/product/ProductCodeModal'
import ButtonLoading from '@/components/base/ButtonLoading'
export default {
  name: 'ProductCode',
  components: {
    ProductCodeModal,
    ButtonLoading
  },
  props: ['product'],
  data() {
    return {
      exist_code: false,
      showModal: false,
      exist_data: false,
      info: {},
      name: '',
      urlPDF: '',
      loading: false
    }
  },
  created() {
    this.getCode()
    this.urlPDF = '/p/' + this.$route.params.slug + '/codigo-pdf/'
  },
  methods: {
    downloadPdf() {
      const self = this
      this.loading = true
      this.$axios({
        method: 'get',
        url: '/products/' + self.$route.params.slug + '/code/pdf/',
        responseType: 'blob'
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', self.$route.params.slug + '.pdf')
        document.body.appendChild(link)
        link.click()
        self.loading = false
      })
    },
    closeCode() {
      this.getCode()
      this.showModal = false
      document.querySelector('body').classList.remove('hidden')
    },
    closeModal() {
      this.showModal = false
      document.querySelector('body').classList.remove('hidden')
    },
    existInfo() {
      const self = this
      return Object.values(self.info).length > 0
    },
    getCode() {
      const self = this
      this.$axios({
        method: 'get',
        url: '/products/' + self.$route.params.slug + '/code/'
      })
        .then((response) => {
          if (response.data.type == 'exist') {
            self.info = response.data
          } else {
          }
          self.name = response.data.name
          self.exist_code = true
        })
        .catch((error) => {})
    }
  }
}
</script>
