#footer {
  h4 {
    font-size: 16px;
    padding-bottom: 15px;
  }
  li {
    padding-bottom: 7px;
    a {
      color: $color-black3;
      font-size: 13px;
    }
  }
  .logo {
    display: none;
    @include tablet {
      display: block;
    }
  }
  .divider {
    border-bottom: 1px solid $color-gray3;
    width: 100%;
    height: 1px;
    display: inline-block;
    margin: 1em 0;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 3em;
    @include tablet {
      flex-direction: row;
    }
    @include tablet {
      padding-top: 1em;
    }
    ul {
      display: flex;
      flex-direction: rcolumnow;
      justify-content: space-between;
      margin-bottom: 10px;
      @include tablet {
        flex-direction: row;
      }
      li {
        margin-right: 20px;
        font-size: 13px;
      }
    }
    .footer-bottom-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      background-repeat: no-repeat;
    }
    .facebook {
      background-image: url(./../images/icons/fb.png);
    }
    .linkedin {
      background-image: url(./../images/icons/linkedin.png);
    }
  }
  .xs-hidden {
    display: none;
    @include tablet {
      display: block;
    }
  }
  .xs-visible {
    display: block;
    margin-bottom: 40px;
    @include tablet {
      display: none;
    }
  }
}
