#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 15px 20px;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
  // background-color: $color-black;
  // @include box-shadow(0, 1px, 4px, 1px, $color-shadow1, false);
  @include tablet {
    padding: 30px 40px;
    @include box-shadow(0, 0, 0, 0, $color-shadow1, false);
    background-color: $color-transparent;
  }
  @include laptop-small {
    padding: 30px 50px;
  }
  @include desktop {
    padding: 30px 90px;
  }
  &.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $color-black;
    @include tablet {
      background-color: $color-black;
    }
    & .btn-main {
      height: auto;
      border: 1px solid $color-white;
    }
    .logo {
      height: 20px;
    }
    .navbar-toggler-icon::before {
      bottom: -11px !important;
    }
  }
  .navbar-toggler {
    outline: none;
    position: relative;
    &.collapsed {
      .navbar-toggler-icon::before {
        content: '';
        width: 1px;
        background-color: $color-gray5;
        display: inline-block;
        position: absolute;
        left: -12px;
        top: -16px;
        bottom: -16px;
        @include tablet {
          width: 0;
        }
      }
    }
  }
  .navbar-toggler-icon {
    background-image: url(./../images/icons/icon_toggler.png);
  }
  #navbar-nav-container {
    justify-content: flex-end;
    a {
      color: $color-white;
      font-family: workSansBold;
      transition: color 0.5s;
      &.btn-main {
        width: 190px;
        color: $color-white;
        line-height: 1.8;
        @include tablet {
          margin-left: 40px;
        }
      }
      &:hover {
        color: $color-green;
      }
    }
  }
  .logo {
    height: 20px;
    transition: all 0.5s;
    @include laptop-small {
      height: 30px;
    }
  }
}
