$base-duration: 0.25s;

// Colors
$primary: slategray;
$accent: tomato;
$white: whitesmoke;
$green: #2ecc71;
$red: #e74c3c;

// Breakpoints
$sm: 20rem;
$med: 48rem;
$lg: 64rem;

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

button {
  cursor: pointer;
}

// body {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100vh;
// }

.trigger {
  margin: 0 0.75rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
  transition: all $base-duration cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 0.875rem;
  font-weight: 300;

  i {
    margin-right: 0.3125rem;
  }

  &:hover {
    box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25),
      0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0vh;
  background-color: transparent;
  overflow: hidden;
  transition: background-color $base-duration ease;
  z-index: 9999;

  &.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color $base-duration;

    > .content-wrapper {
      transform: scale(1);
    }
  }

  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    padding: 2.5rem;
    background-color: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform $base-duration;
    transition-delay: 0.15s;

    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      transition: $base-duration linear;

      &:before,
      &:after {
        position: absolute;
        content: '';
        width: 1.25rem;
        height: 0.125rem;
        background-color: black;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }

      &:hover {
        transform: rotate(360deg);

        &:before,
        &:after {
          background-color: $accent;
        }
      }
    }

    .modal-header {
      position: relative;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0 0 1.25rem;
      border-bottom: none;
      &__title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
      }
      &__subtitle {
        font-size: 17px;
        margin-bottom: 2px;
      }
    }

    .content {
      position: relative;
      // display: flex;

      p {
        font-size: 0.875rem;
        line-height: 1.75;
      }
    }

    .modal-footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 0;
      padding: 1.875rem 0 0;
      &--center {
        justify-content: center;
      }
      .action {
        position: relative;
        margin-left: 0.625rem;
        padding: 0.625rem 1.25rem;
        border: none;
        background-color: $primary;
        border-radius: 0.25rem;
        color: white;
        font-size: 0.87rem;
        font-weight: 300;
        overflow: hidden;
        z-index: 1;

        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
          transition: width $base-duration;
          z-index: 0;
        }

        &:first-child {
          background-color: $green;
        }

        &:last-child {
          background-color: $red;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
.modal-mask {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  padding: 10px 0 10px 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  align-items: center;
  overflow-x: hidden;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
}

.modal-container {
  max-width: 500px;
  // width: 500px;
  margin: 0px auto;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header {
  margin-bottom: 0px;
  flex-direction: column;
  border-bottom: none;
}
.modal-header h3 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  text-align: center;
  font-family: $font_bold;
  width: 100%;
}
.modal-header .subtitle {
  text-align: center;
  width: 100%;
}

.modal-body {
  margin: 5px 0;
  // text-align: center;
}
.modal-body h3 {
  font-size: 24px;
  margin-bottom: 40px;
}
.modal-body p {
  // margin-bottom: 40px;
  font-size: 18px;
}
.modal-footer {
  text-align: center;
  border-top: 0;
  padding-top: 0;
}
.modal-footer button {
  border-radius: 4px;
  padding: 7px 60px;
  font-size: 18px;
}
.modal-footer button.btn-apply {
  min-width: 200px;
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'AkkuratBold';
}
.modal-default-button {
  float: right;
}
.img-manos {
  margin: auto;
  margin-bottom: 10px;
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}
/*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-reservation {
  .form-shipping {
    &--delivery {
      height: calc(100vh - 50px);
      overflow-y: scroll;
      @include scroll();
    }
    &--delivery-map{
      height: calc(100vh - 50px);
      overflow-y: scroll;
      max-width: 650px;
      @include scroll();
    }
    &__label {
      width: 100%;
      margin: 0;
      font-size: 14px;
      font-family: $font_bold;
    }
    .form-group {
      margin-bottom: 7px;
    }
  }
}
.modal-recojo-tienda {
  p {
    // text-align: center;
    margin-top: 5px;
    width: 100%;
  }
  .message_observation {
    font-size: 14px;
    text-align: center;
  }
  .message_response_local {
    font-size: 18px;
    font-family: $font_bold;
    margin-bottom: 30px;
    text-decoration: underline;
  }
  .form_recojotienda {
    &--scroll {
      height: 185px;
      overflow-y: auto;
      // padding-right: 9px;
      overflow-x: hidden;
      // padding-left: 6px
    }
    .check_local {
      border: 1px solid $color_btn;
      padding: 14px 3px 14px 14px;
      border-radius: 6px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        display: flex;
        flex-direction: column;

        p {
          margin: 0;
          text-align: left;
          font-size: 14px;
          font-family: $font_bold;
        }
        span {
          font-size: 11px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .modal .content-wrapper {
    width: 80%;
    padding: 25px 15px;
  }
}
@media screen and (max-width: 480px) {
  .modal .content-wrapper {
    width: 90%;
  }
  .form-reservation {
    overflow: hidden;
    height: 600px;
  }
}
