<template>
  <div>
    <About />
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import About from '~/components/landing/About'
export default {
  layout: 'landing',
  components: {
    About
  },
  mounted() {
    this.toggleMenu(true)
  },
  methods: {
    ...mapMutations(['toggleMenu'])
  }
}
</script>
