<template>
  <div class="content_page">
    <Banner v-if="banners.length > 0" :banners="banners" />
    <section v-if="categories.length > 0" class="discount">
      <div class="container">
        <ProductFilter :city="city" @changeCity="changeCity" />
      </div>
      <CategoryProductsCarrousel
        v-if="categories.length > 0 && !load"
        :categories="categories"
      />
      <ProductCategoryPlaceholder v-else-if="load" />
    </section>
    <section v-else class="discount">
      <div class="container">
        <div class="product_no_search">
          <img src="~assets/images/manos.png" width="80" />
          <h2 class="product_no_search__message">
            Ya disfrutaste de tu regalo, puedes ver en tu perfil el historial de
            pedidos.
          </h2>
          <h2 class="product_no_search__message">¡Nos vemos pronto!</h2>
          <div class="mt-2 mb-2">
            <nuxt-link :to="{ name: 'perfil' }" class="btn btn-dark"
              >Ir al Perfil</nuxt-link
            >
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Banner from '@/components/block/Banner'
import CategoryProductsCarrousel from '@/components/category/CategoryProductsCarrousel'
import ProductFilter from '@/components/product/ProductFilter'
import ProductCategoryPlaceholder from '@/components/placeholder/ProductCategoryPlaceholder'
export default {
  name: 'Home',
  middleware: 'authenticated',
  components: {
    Banner,
    CategoryProductsCarrousel,
    ProductFilter,
    ProductCategoryPlaceholder,
  },
  data() {
    return {
      baners: [],
      categories: [],
      city: '',
      load: false,
      showModal: true
    }
  },
  async asyncData({ app, error }) {
    try {
      const banners = await app.$axios.$get('/block/banners/')
      const categories = await app.$axios.$get('/categories/products/', {
        params: {
          crop_banner_home: '360x300',
          crop_image: '360x300'
        }
      })
      return { banners, categories, load: false }
    } catch (e) {
      error({ message: 'Pagina no encontrada', statusCode: 404, type: 'page' })
    }
  },
  mounted() {
    document.querySelector('body').classList.remove('hidden')
  },
  methods: {
    changeCity(city) {
      this.city = city
      this.getCategoriesProducts()
    },
    getCategoriesProducts() {
      const self = this
      self.load = true
      this.$axios
        .$get('/categories/products/', {
          params: {
            crop_banner_home: '360x300',
            crop_image: '360x300',
            city: self.city
          }
        })
        .then((response) => {
          self.categories = response
          self.load = false
        })
    },
    closeModal() {
      this.showModal = false
      document.querySelector('body').classList.remove('hidden')
    }
  }
  // page component definitions
}
</script>
<style lang="scss">
@import 'tiny-slider/src/tiny-slider';
</style>
<style lang="scss">
.go_profile {
}
</style>
