<template>
  <div class="app page_index">
    <nav id="navbar" class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="/images/weeare-white.png" class="logo" alt="logo" />
      </a>
      <!-- <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-nav-container"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div id="navbar-nav-container" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#clients">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link js-scroll-trigger btn btn-main"
              href="#login-form"
              >Tengo un regalo</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div id="home">
      <div id="home-top">
        <video
          id="myVideo"
          ref="video"
          class="home-top-video"
          loop
          muted
          autoplay
          src="/video/weeare.mp4"
        ></video>
        <div class="row home-top-login">
          <div class="col-sm-12 col-md-6 col-lg-7 home-top-left"></div>
          <div class="col-sm-12 col-md-6 col-lg-5 home-top-right">
            <LoginWrapper />
          </div>
        </div>
      </div>
      <div id="home-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h2>¿Qué es Weeare?</h2>
              <p>
                Weeare es una empresa del Grupo Arellano que te ayuda a
                gestionar programas de beneficios con el mejor retorno de tu
                inversión.
              </p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h2>¿Cómo lo hacemos?</h2>
              <p>
                Nos apoyamos en la tecnología para brindarte una plataforma de
                gestión y comunicación de beneficios.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="clients" class="container">
      <div>
        <img src="~assets/images/clients/bf_logo.jpg" alt="bf" />
      </div>
      <div>
        <img src="~assets/images/clients/protecta.jpg" alt="protecta" />
      </div>
      <div>
        <img src="~assets/images/clients/arellano.jpg" alt="arellano" />
      </div>
      <div>
        <img src="~assets/images/clients/mallplaza.jpg" alt="mallplaza" />
      </div>
    </div>

    <!-- Services -->
    <div id="services" class="container">
      <h2>Servicios</h2>
      <h3>
        Mejora el nivel de
        <br />vinculación de tus clientes
      </h3>
      <p>
        Gestionamos programas de beneficios y
        <br />regalos para tus clientes.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <i></i>
          <h3>Gestión comercial</h3>
          <p>Contamos con un equipo ágil en la gestión de beneficios.</p>
        </div>
        <div class="col-sm-4">
          <i></i>
          <h3>Capacitación</h3>
          <p>
            Nos encargamos de capacitar a todos los establecimientos afiliados
            de manera continua.
          </p>
        </div>
        <div class="col-sm-4">
          <i></i>
          <h3>Mystery Shopper</h3>
          <p>
            Visitamos constantemente a los establecimientos para verificar el
            buen desempeño.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <i></i>
          <h3>Atención de reclamos</h3>
          <p>Atendemos los reclamos en el punto de venta.</p>
        </div>
        <div class="col-sm-4">
          <i></i>
          <h3>Validación</h3>
          <p>
            Contamos con una plataforma propia de validación de descuentos y
            regalos.
          </p>
        </div>
        <div class="col-sm-4">
          <i></i>
          <h3>Facturación</h3>
          <p>Nos encargamos de los pagos semanales a los establecimientos.</p>
        </div>
      </div>
    </div>

    <!-- Paltform -->
    <div id="platform" class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h2>Plataforma</h2>
          <h3>
            Implementación
            <br />y comunicación
          </h3>
          <p class="description">
            Obtén una plataforma responsive con el L&F de tu compañía y comienza
            a comunicar los beneficios al instante.
          </p>
          <a href="#contact" class="btn btn-main xs-hidden js-scroll-trigger"
            >Solicita una demo</a
          >
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="~assets/images/Plataforma.png" alt />
          <a href="#contact" class="btn btn-main xs-visible js-scroll-trigger"
            >Solicita una demo</a
          >
        </div>
      </div>
      <span class="divider"></span>
      <div class="row platform-items">
        <div class="col-sm-4">
          <p>
            <b>Tecnología.</b> Nuestra plataforma se adapta al diseño de tu
            compañía. Esto nos permite implementar un programa en poco tiempo.
          </p>
          <a href="#contact">Más información</a>
        </div>
        <div class="col-sm-4">
          <p>
            <b>Comercial.</b> Contamos con un equipo que gestiona las mejores
            alianzas comerciales con establecimientos a nivel nacional.
          </p>
          <a href="#contact">Establecimientos</a>
        </div>
        <div class="col-sm-4">
          <p>
            <b>Información.</b> Sabemos cómo se mueve el mercado y medimos las
            interacciones de los clientes para ofrecerles contenido
            personalizado.
          </p>
          <a href="#contact">Más información</a>
        </div>
      </div>
    </div>

    <!-- Categories -->
    <div id="categories">
      <div class="container">
        <h2>Categorías</h2>
        <h3>
          Más y mejores
          <br />beneficios
        </h3>
        <p class="description">
          Hemos desarrollado 5 categorías de regalos y contamos con
          <br />más de 700 establecimientos afiliados.
        </p>
        <button class="btn btn-main xs-visible js-scroll-trigger">
          Beneficios
        </button>
        <button class="btn btn-main xs-visible js-scroll-trigger">
          Regalos
        </button>
        <div class="row">
          <div>
            <img src="~assets/images/categories/adventure.jpg" alt="Aventura" />
            <h3><i></i> Aventura</h3>
          </div>
          <div>
            <img
              src="~assets/images/categories/bienestar.jpg"
              alt="Bienestar"
            />
            <h3><i></i> Bienestar</h3>
          </div>
          <div>
            <img
              src="~assets/images/categories/gastronomia.jpg"
              alt="Gastronomía"
            />
            <h3><i></i> Gastronomía</h3>
          </div>
          <div>
            <img
              src="~assets/images/categories/diversion.jpg"
              alt="Diversión"
            />
            <h3><i></i> Diversión</h3>
          </div>
          <div>
            <img src="~assets/images/categories/pickup.jpg" alt="Pick Up" />
            <h3><i></i> Pick Up</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Point of sell -->
    <div id="point-sell" class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Punto de venta</h2>
          <h3>
            Validaciones sin
            <br />POS
          </h3>
          <p class="description">
            Los establecimientos afiliados a Weeare están capacitados para
            validar los beneficios en nuestra plataforma de validación. Así nos
            aseguramos de que todos los clientes reciban lo que les corresponde.
          </p>

          <h5><i></i> Establecimientos afiliados</h5>
          <p class="sub-description">
            Si tienes un comercio y gustaría afiliarlo a Weeare, mira como
            funciona nuestro sistema de validación.
          </p>
          <a
            href="https://www.youtube.com/watch?v=dRYlxAu477E"
            target="_blank"
            class="btn btn-main"
            >Ver tutorial</a
          >
        </div>
        <div class="col-sm-6 xs-hidden">
          <img src="~assets/images/Validador.png" alt />
        </div>
      </div>
    </div>

    <!-- Support -->
    <div id="support">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 section-image">
            <img src="~assets/images/Chat.png" alt />
          </div>
          <div class="col-sm-6 section-text">
            <h2>Soporte</h2>
            <h3>
              Solución de
              <br />reclamos
            </h3>
            <p class="description">
              Nos encargamos de resolver cualquier inconveniente en el
              establecimiento para que la experiencia del cliente sea la mejor.
            </p>
            <p class="description">
              Contamos con un canal de comunicación con el establecimiento
              <b>24/7</b>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="results" class="container">
      <h2 class="title">Resultados</h2>
      <div class="row">
        <div class="col-sm-4">
          <img src="~assets/images/icons/datos1.png" alt />
          <h3>13,435</h3>
          <p>Beneficios gestionados</p>
        </div>
        <div class="col-sm-4">
          <img src="~assets/images/icons/datos2.png" alt />
          <h3>2,346,892,38</h3>
          <p>Beneficios gestionados</p>
        </div>
        <div class="col-sm-4">
          <img src="~assets/images/icons/datos3.png" alt />
          <h3>56,943</h3>
          <p>Beneficios gestionados</p>
        </div>
      </div>
    </div>
    <FormAttr />

    <!-- Footer -->
    <div id="footer">
      <span class="divider xs-visible"></span>
      <div class="container footer-top">
        <div class="row">
          <div class="col-sm-5">
            <img
              src="~assets/images/IconW.png"
              alt="weeare"
              width="145px"
              class="logo"
            />
          </div>
          <div class="col-md-3 col-sm-12">
            <h4 class="semi-bold">Servicios</h4>
            <ul>
              <li>
                <a href>Beneficios</a>
              </li>
              <li>
                <a href>Plataforma</a>
              </li>
              <li>
                <a href>Validador</a>
              </li>
              <li>
                <a href>Categorías</a>
              </li>
              <li>
                <a href>Servicio al cliente</a>
              </li>
              <li>
                <a href>Resultados</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12">
            <h4 class="semi-bold">Empresa</h4>
            <ul>
              <li>
                <a href>Sobre Weeare</a>
              </li>
              <li>
                <a href>Contacto</a>
              </li>
              <li>
                <a href>Soporte</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <span class="divider xs-hidden"></span>
      <div class="container footer-bottom">
        <ul>
          <li v-for="page in pages">
            <nuxt-link
              :to="{ name: 'pages-slug', params: { slug: page.url } }"
              class="footer__list__link"
              >{{ page.title }}</nuxt-link
            >
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="footer-bottom-icon facebook"></a>
          </li>
          <li>
            <a href="#" class="footer-bottom-icon linkedin"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import FormAttr from '@/components/block/FormAttr'
import LoginWrapper from '@/components/home/LoginWrapper'
export default {
  layout: 'login',
  components: {
    LoginWrapper,
    FormAttr
  },
  data() {
    return {
      showModal: true,
      pages: []
    }
  },
  async asyncData({
    app,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error
  }) {
    try {
      const pages = await app.$axios.$get('block/pages/', {
        params: {
          'fields!': 'content'
        }
      })
      return { pages }
    } catch (e) {
      error({
        message: 'Descuento no encontrado',
        statusCode: 405,
        type: 'page'
      })
    }
  },
  created() {
    console.log(process.client, 'process.client')
  },
  mounted() {
    if (process.client) {
      window.addEventListener('scroll', this.navScroll)
      // const mainVideo = document.getElementById('myVideo')
      // mainVideo.play()
    }
  },
  destroyed() {
    if (process.client) {
      window.removeEventListener('scroll', this.navScroll)
    }
  },
  head() {
    return {
      title: `Weeare`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Weeare'
        }
        // other meta
      ]
    }
  },
  methods: {
    navScroll() {
      const navbar = document.getElementById('navbar')
      if (window.scrollY > 50) {
        navbar.classList.add('navbar-shrink')
      } else {
        navbar.classList.remove('navbar-shrink')
      }
    },
    closeModal() {
      this.showModal = false
      document.querySelector('body').classList.remove('hidden')
    }
  }
}
</script>
