<template>
  <div>
    <Hero />
    <Partners />
    <Weeare id="beneficios" />
    <Weeare
      id="regalos"
      title="Regalos"
      :description="regalosDescription"
      background="black"
    />
    <Weeare
      id="pedidos"
      title="Pedidos"
      :description="pedidosDescription"
      type-button="black"
      background="main"
    />
    <Beneficios />
    <Blog />
    <Arellano />
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import Hero from '~/components/landing/Hero'
import Partners from '~/components/landing/Partners'
import Weeare from '~/components/landing/Weeare'
import Beneficios from '~/components/landing/Beneficios'
import Blog from '~/components/landing/Blog'
import Arellano from '~/components/landing/Arellano'
export default {
  layout: 'landing',
  components: {
    Hero,
    Partners,
    Weeare,
    Beneficios,
    Blog,
    Arellano
  },
  data() {
    return {
      regalosDescription:
        'Gratificación ágil y efectiva para tus clientes y colaboradores.',
      pedidosDescription:
        'Crea tu propia tienda en línea en pocos minutos y comienza a vender hoy.'
    }
  },
  mounted() {
    this.toggleMenu(false)
  },
  methods: {
    ...mapMutations(['toggleMenu'])
  }
}
</script>
