.footer {
  background: $color_white;
  padding: 30px 0;
  box-shadow: 0 -18px 23px -29px rgba(0, 0, 0, 0.64);
  min-height: 220px;
  position: absolute;
  bottom: 0;
  width: 100%;
  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &__image {
    width: 150px;
  }
  ul {
    padding: 0;
  }
  li {
    margin-bottom: 10px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    // align-items:flex-end;
  }
  &__title {
    font-family: $font_bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
  }
  &__information {
    &__question {
      font-family: $font_bold;
      font-size: 17px;
    }
    &__whatsapp {
      margin-top: 20px;
      display: flex;
      align-items: center;
      .btn {
        margin-left: 10px;
      }
    }
  }
  &__text {
    color: $color_text;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    &__ul {
      margin-right: 40px;
    }
  }
  &__right {
    display: flex;
    max-width: 320px;
    &__paragraph {
      p {
        color: black;
      }
      a {
        color: black;
        text-decoration: underline;
      }
    }
    &__ws {
      margin-right: 15px;
      img {
        max-width: 75px;
        height: auto;
      }
    }
    &__title {
      font-size: 17px;
      font-weight: 600;
    }
    p {
      margin: 5px 0;
    }
    &__cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        display: block;
        height: auto;
      }
    }
  }
  &__list {
    &__link {
      color: $color_text;
      transition: 0.3s ease all;
      font-size: 16px;
      &:hover {
        font-weight: bold;
        color: $color-green;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    position: inherit;
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content 120px;
      grid-row-gap: 10px;
    }
    &__information {
      &__question {
        margin-bottom: 10px;
      }
      &__whatsapp {
        flex-direction: column;
      }
    }
    &__logo {
      grid-row: 3;
      margin-bottom: 0;
      justify-self: center;
    }
    &__image {
      width: 100px;
    }
  }
}

@media screen and (max-width: 480px) {
  .footer {
    &__link {
      font-size: 15px;
    }
    &__left {
      // flex-direction: column;
      &__ul {
        margin-right: 15px;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .footer {
    &__left {
      // flex-direction: column;
      &__ul {
        margin-right: 8px;
      }
    }
  }
}
