.products {
  &__title {
    color: $color_gray;
    width: 100%;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 40px;
  }
}
.products_carrousel {
  .tns-controls {
    button {
      z-index: 1000;
      top: 30%;
      padding: 3px;
      background: rgba(255, 255, 255, 0.4);
    }
    button:first-child {
      border: none;
      position: absolute;
      left: 0;
    }
    button:last-child {
      border: none;
      position: absolute;
      right: 0;
    }
    button:hover {
      background: rgba(255, 255, 255, 0.8);
    }
    button img {
      width: 22px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 0;
    &__title {
      display: flex;
      align-items: flex-end;
    }
    h3 {
      margin-left: 4px;
      font-size: 32px;
      font-family: $font_bold;
    }
  }
  &__see_more {
    color: $color_black;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    span {
      margin-right: 7px;
    }
    &:hover {
      font-weight: bold;
      color: $color_green;
    }
  }
  &__container {
  }
  &__item {
    margin-bottom: 32px;
  }
}
.product {
  // margin-left: -15px;
  // margin-right: -15px;
  width: calc(33.3333% - 30px);
  position: relative;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  // padding-bottom: 10px;
  // background: $color_white;
  &--block {
    margin: 0 15px 30px 15px;
  }
  $root: &;
  &:hover {
    // box-shadow: rgba(41, 98, 182, 0.3) 0px 2px 10px;
    transition: all 0.3s ease-in 0s;
    #{ $root }__image {
      > img {
        transform: scale(1.1);
      }
    }
  }

  &--four {
    width: calc(25% - 30px);
    &:hover {
      // box-shadow: none;
    }
    &--skeleton {
      padding-right: 30px;
    }
  }
  &__stock {
    position: absolute;
    top: 0;
    right: 0;
    background: $color_blue;
    color: $color_white;
    padding: 8px;
    border-top-right-radius: 4px;
  }
  &__image {
    // border-bottom: 1px solid rgba($color_grey, 0.7);
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 6px;
    > img {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      margin: 0;
      display: block;
      width: 100%;
      height: auto;
      // border-radius: 6px;
      // border-radius: 6px;
    }
    &--skeleton {
      width: 100%;
      height: 300px;
      background-color: $color_black;
    }
  }
  &__category_name {
    display: flex;
    align-items: center;
    padding: 8px;
    h3 {
      font-family: $font_bold;
      font-size: 22px;
    }
    img {
      margin-right: 10px;
    }
  }
  &__description {
    padding: 15px;
    background: transparent;
    position: absolute;
    color: $color_white;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
  }
  &__description_block {
    padding: 8px;
    &__company {
      margin-bottom: 5px;
      font-size: 20px;
      font-family: $font_bold;
    }
  }
  &__company_name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 3px;
    color: $color_white;
  }
  &__company_image {
    img {
      margin-right: 8px;
      border-radius: 50%;
    }
  }
  &__name {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 3px;
    color: $color_white;
    font-family: $font_bold;
  }
  &__price_regular {
    margin: 8px 0;
    color: $color_gray;
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: $color_gray;
      position: absolute;
      left: 0;
      top: 9px;
    }
  }
  &__btn {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    line-height: 30px;
  }
  &__price_oficial {
    font-size: 18px;
    color: $color_gray;
    font-weight: 600;
    margin-top: 10px;
  }
}
.product_no_search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  &__message {
    max-width: 450px;
    margin: auto;
    font-size: 24px;
  }
  img {
    margin: auto;
    margin-bottom: 15px;
    display: block;
  }
  h2 {
    font-family: $font_bold;
    margin-bottom: 5px;
  }
}
.product_detail {
  &__des {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% - 430px);
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
  }
  &__figure {
    position: relative;
    &:after {
      content: '';
      width: 1000px;
      height: 100%;
      right: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      display: block;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 5px;
  }
  &__stock {
    color: $color_gray;
  }
  &__paraf {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__terms {
    margin: 40px auto;
    max-width: 700px;
    color: $color_btn;
    &__description {
      margin-top: 40px;
    }
    &__text {
      overflow-x: hidden;
      font-size: 16px !important;
    }
    &__title {
      margin: 30px 0;
      font-size: 22px;
      font-weight: 600;
      color: $color_black;
    }
  }
}
.product_filter {
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  // background: $color_white;
  border-top: 1px solid $color_btn;
  border-bottom: 1px solid $color_btn;
  align-items: center;
  padding: 12px 0px;
  // border-radius: 6px;
  margin-bottom: 40px;
  &__title {
    font-size: 18px;
    font-family: $font_bold;
  }
  &__item {
    display: flex;
    align-items: center;
    label {
      margin-right: 8px;
      margin-bottom: 0;
      font-size: 17px;
    }
  }
}
.product-skeleton {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
  &__item {
    &__image {
      width: 100%;
      height: 230px;
      background-color: hsl(0, 0%, 89%);
      border-radius: 6px;
      animation: fading 3s infinite;
    }
    &__company {
      background-color: hsl(0, 0%, 89%);
      width: 70%;
      height: 30px;
      margin-top: 10px;
      animation: fading 3s infinite;
    }
    &__name {
      background-color: hsl(0, 0%, 89%);
      width: 85%;
      height: 25px;
      margin-top: 10px;
      animation: fading 3s infinite;
    }
  }
}

@media screen and (max-width: 1200px) {
  .product {
    width: calc(33% - 30px);
  }
}

@media screen and (max-width: 960px) {
  .product-skeleton {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    &__item:nth-child(4) {
      display: none;
    }
  }
  .product {
    &__name {
      font-size: 17px;
    }
    &__price_regular {
      font-size: 16px;
    }
    &__price_oficial {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 768px) {
  .product {
    width: calc(50% - 10px);
    &--block {
      margin: 0 5px 15px 5px;
    }

    &__description {
      padding: 8px;
    }
    &__price_oficial {
      font-size: 16px;
    }
    &__name {
      font-size: 16px;
    }
  }
  .products {
    &__container {
      margin-left: -5px;
      margin-right: -5px;
    }
    &__title {
      font-size: 20px;
    }
  }
  .product_detail {
    &__figure {
      max-width: 400px;
      width: 100%;
      margin: auto;
      margin-top: 20px;
      &:after {
        display: none;
      }
    }
    &__info {
      flex-direction: column-reverse;
      figure {
        img {
        }
      }
    }
    &__des {
      width: 100%;
      margin: auto;
      margin-bottom: 15px;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 650px) {
  .product-skeleton {
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    &__item {
      &__image {
        height: 130px;
      }
    }
    &__item:nth-child(3),
    &__item:nth-child(4) {
      display: none;
    }
  }
}
@media screen and (max-width: 480px) {
  .products__title {
    font-size: 18px;
  }
  .products_carrousel {
    &__header {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 26px;
      }
    }
    &__see_more {
      margin-top: 15px;
    }
  }
  .product {
    width: calc(100% - 10px);
    &__name {
      font-size: 15px;
    }
    &__stock {
      font-size: 12px;
    }
    &__price_regular {
      font-size: 13px;
      &:after {
        top: 6px;
      }
    }
    &__price_oficial {
      font-size: 13px;
    }
    &__btn {
      font-size: 15px;
    }
    &__description_block {
      &__company {
        font-size: 17px;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .product-skeleton {
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    &__item:nth-child(2),
    &__item:nth-child(3),
    &__item:nth-child(4) {
      display: none;
    }
  }
  .product {
    &__name {
      font-size: 13px;
    }
    &__stock {
      font-size: 12px;
    }
    &__price_regular {
      font-size: 11px;
    }
    &__price_oficial {
      font-size: 11px;
    }
    &__btn {
      padding: 10px 20px;
      line-height: inherit;
      font-size: 13px;
      min-height: inherit;
    }
  }
}
