<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="error">
          <img src="~assets/images/tasa404.png" alt />
          <h3 v-if="error.type =='page'">{{error.message}}</h3>
          <h3 v-else>Ups.. Página no encontrada</h3>
          <nuxt-link :to="{'name': 'index'}" class="btn btn-dark">Ir al Home</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'error-404',
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
<style lang="scss">
.error {
  margin-top: 50px;
  text-align: center;
  a {
    margin-top: 20px;
  }
  h3 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
  img {
    display: block;
    margin: auto;
  }
}
</style>
