<template>
  <div class="content_page">
    <section class="profile">
      <div class="container">
        <div v-if="is_token == true" class="row">
          <div class="col-md-12">
            <div class="text-center">
              <img src="~assets/images/categories/icon_pickup.png" alt class="img-margin" />
              <h4
                v-if="is_confirmation"
                class="text-center"
              >Ya se ha confirmado el pedido con anterioridad</h4>
              <h4 v-else class="text-center">Se confirmo el pedido</h4>
            </div>
          </div>
          <div class="col-md-12 text-center mt-10">
            <nuxt-link :to="{ name: 'index' }" class="btn btn-dark">Ir al Home</nuxt-link>
          </div>
        </div>
        <div v-if="is_token == false" class="row">
          <div class="col-md-12">
            <div class="error">
              <img src="~assets/images/tasa404.png" alt />
              <h3>Ups.. Página no encontrada</h3>
              <nuxt-link :to="{ name: 'index' }" class="btn btn-dark">Ir al Home</nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name: 'TokenConfirm',
  data() {
    return {
      is_token: null,
      is_confirmation: null
    }
  },
  async asyncData({ app, params, error }) {
    try {
      const data = await app.$axios.$post(
        `/order/commerce/${params.slug}/confirmation/`
      )
      return { is_confirmation: data.is_confirmation, is_token: true }
    } catch (e) {
      error({
        message: 'Página no encontrada',
        statusCode: 405,
        type: 'page'
      })
    }
  },
  created() {
    // this.postToken()
  },
  methods: {
    postToken() {
      const self = this
      self.$axios
        .$post(`/order/commerce/${self.$route.params.slug}/confirmation/`)
        .then((response) => {
          console.log(response, '---------')
          self.is_token = true
          self.is_confirmation = response.is_confirmation
        })
        .catch((error) => {
          self.is_token = false
        })
    }
  }
}
</script>
<style lang="css">
.img-margin {
  margin: auto;
}
</style>
<style lang="scss">
.error {
  margin-top: 50px;
  text-align: center;
  a {
    margin-top: 20px;
  }
  h3 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
  img {
    display: block;
    margin: auto;
  }
}
</style>
