<template>
  <div class="about">
    <div class="about__container contenedor">
      <h1>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<span
          class="color-main"
          >.</span
        >
      </h1>
      <div class="about__container--text">
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
            velit esse molestie consequat, vel illum dolore eu feugiat nulla
            facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit praesent luptatum nulla
          </p>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
            velit esse molestie consequat, vel illum dolore eu feugiat nulla
            facilisis.
          </p>
        </div>
      </div>
      <div class="about__container--image">
        <div v-for="p in perfil" :key="p.id" class="item">
          <img
            :src="require(`../../assets/images/landing/${p.image}`)"
            alt=""
          />
          <p class="color-main">{{ p.name }}</p>
          <span>{{ p.position }}</span>
        </div>
      </div>
      <div class="about__container--partners">
        <h2>Partners weeare.</h2>
        <p>
          Si estás interesado en hacer crecer tu marca y tu negocio, nuestro
          equipo está preparado para contarte y precisarte cuáles son las
          condiciones y principales ventajas y beneficios. Actualmente somos
          partner de más de 600 empresas a nivel nacional.
        </p>
        <Button type-button="black">
          <!-- <img src="~/assets/images/landing/chat-main.svg" alt="Conversemos" /> -->
          <ChatMain />
          Conversemos
        </Button>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '../base/Button'
import ChatMain from './Icons/ChatMain.vue'
export default {
  components: {
    Button,
    ChatMain
  },
  data() {
    return {
      perfil: [
        {
          id: 1,
          name: 'Nicolás Miranda',
          position: 'CEO & Founder',
          image: 'perfil.png'
        },
        {
          id: 2,
          name: 'Nicolás Miranda',
          position: 'CEO & Founder',
          image: 'perfil.png'
        },
        {
          id: 3,
          name: 'Nicolás Miranda',
          position: 'CEO & Founder',
          image: 'perfil.png'
        },
        {
          id: 4,
          name: 'Nicolás Miranda',
          position: 'CEO & Founder',
          image: 'perfil.png'
        },
        {
          id: 5,
          name: 'Nicolás Miranda',
          position: 'CEO & Founder',
          image: 'perfil.png'
        },
        {
          id: 6,
          name: 'Nicolás Miranda',
          position: 'CEO & Founder',
          image: 'perfil.png'
        }
      ]
    }
  }
}
</script>

<style></style>
