<template>
  <div class="arellano">
    <div class="arellano__container contenedor">
      <h2>
        Ser parte del Grupo Arrellano nos ha llevado a tener una visión centrada
        en el usuario final. El éxito de Weeare se mide a través del éxito de
        nuestros clientes<span class="color-main">.</span>
      </h2>
      <Button>
        <!-- <img src="~/assets/images/landing/chat.svg" alt="Conversemos" /> -->
        <Chat />
        Conversemos
      </Button>
    </div>
  </div>
</template>

<script>
import Button from '../base/Button'
import Chat from './Icons/Chat.vue'
export default {
  components: {
    Button,
    Chat
  }
}
</script>

<style></style>
