<template>
  <div class="beneficios">
    <div class="beneficios__container contenedor">
      <h2>
        Ser parte del Grupo Arrellano nos ha llevado a tener una visión centrada
        en el usuario final<span class="color-main">.</span>
      </h2>
      <div class="beneficios__container--main">
        <div class="image">
          <img
            :src="require(`~/assets/images/landing/${idImage}.jpg`)"
            alt=""
          />
        </div>
        <div class="text">
          <h2>
            Lorem ipsum dolor sit amet, consectetuer<span class="color-main"
              >.</span
            >
          </h2>
          <div>
            <b-form-radio
              v-model="idImage"
              value="0"
              :class="idImage === '0' ? 'color-main' : ''"
              name="radio-size"
              size="lg"
            >
              <strong>Más de S/ 3 Millones en beneficios gestionados</strong>
              y la confianza de nuestros clientes.
            </b-form-radio>
            <b-form-radio
              v-model="idImage"
              value="1"
              :class="idImage === '1' ? 'color-main' : ''"
              name="radio-size"
              size="lg"
            >
              <strong>Más de S/ 3 Millones en beneficios gestionados</strong>
              y la confianza de nuestros clientes.
            </b-form-radio>
            <b-form-radio
              v-model="idImage"
              value="2"
              :class="idImage === '2' ? 'color-main' : ''"
              name="radio-size"
              size="lg"
            >
              <strong>Más de S/ 3 Millones en beneficios gestionados</strong>
              y la confianza de nuestros clientes.
            </b-form-radio>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      idImage: '0'
    }
  }
}
</script>

<style></style>
