<template>
  <div class="blog">
    <div class="blog__container contenedor">
      <h3 class="color-main">
        weeare<strong>Blog</strong><strong class="punto">.</strong>
      </h3>
      <p class="description">
        Descrube casos de éxito y cómo aplicar nuestras herramientas en su
        empresa.
      </p>
      <div class="blog__container--main">
        <div v-for="b in blog" :key="b.id" class="blog">
          <div class="image">
            <img :src="b.image" alt="" />
          </div>
          <div class="text">
            <h4 class="color-main">
              {{ b.title }}
            </h4>
            <p>
              {{ b.description }}
            </p>
            <a :href="b.link" target="_blank">
              Leer más <font-awesome-icon :icon="['fas', 'chevron-right']" />
            </a>
          </div>
        </div>
      </div>
      <Button type-button="black">
        Ver más de nuestro Blog
        <font-awesome-icon :icon="['fas', 'chevron-right']" />
      </Button>
    </div>
  </div>
</template>

<script>
import Button from '../base/Button'
export default {
  components: {
    Button
  },
  data() {
    return {
      blog: [
        {
          id: 1,
          title: 'Lorem ipsum dolor sit amet.',
          image:
            'https://play-lh.googleusercontent.com/CyCfSIDF_vVtSiyHi1H47HZtfE2e_-4UVGtoT8zX9ym8GIRcTOhBknPIvadrQUMp2Q',
          description:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem voluptatum eaque officia corrupti est quasi corporis aut quos obcaecati?',
          link: 'https://google.com'
        },
        {
          id: 2,
          title: 'Lorem ipsum dolor sit amet.',
          image:
            'https://play-lh.googleusercontent.com/CyCfSIDF_vVtSiyHi1H47HZtfE2e_-4UVGtoT8zX9ym8GIRcTOhBknPIvadrQUMp2Q',
          description:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem voluptatum eaque officia corrupti est quasi corporis aut quos obcaecati?',
          link: 'https://google.com'
        },
        {
          id: 3,
          title: 'Lorem ipsum dolor sit amet.',
          image:
            'https://play-lh.googleusercontent.com/CyCfSIDF_vVtSiyHi1H47HZtfE2e_-4UVGtoT8zX9ym8GIRcTOhBknPIvadrQUMp2Q',
          description:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem voluptatum eaque officia corrupti est quasi corporis aut quos obcaecati?',
          link: 'https://google.com'
        }
      ]
    }
  }
}
</script>

<style></style>
