<template>
  <footer class="footerLanding">
    <div class="footerLanding__container contenedor">
      <div class="footerLanding__container--main">
        <div class="image">
          <img src="~assets/images/logo-blanco.png" alt="Weeare Logo" />
        </div>
        <div class="menu">
          <nuxt-link to="/new-landing">Home</nuxt-link>
          <nuxt-link to="/about">Sobre weeare</nuxt-link>
          <nuxt-link to="/">Trabaja con Nosotros</nuxt-link>
          <nuxt-link to="/">Servicio al cliente</nuxt-link>
        </div>
        <div class="services">
          <span>Servicios</span>
          <a href="#">Plataforma de Beneficios</a>
          <a href="#">Plataforma de Regalos</a>
          <a href="#">Plataforma de Pedidos</a>
          <a href="#">Servicio al cliente</a>
        </div>
        <div class="contact">
          <span>Contacto</span>
          <a href="#">+51 987 345 555</a>
          <a href="#">hola@weeare.pe</a>
          <a href="#">soporte@weeare.pe</a>
        </div>
        <div class="social">
          <span>Redes sociales</span>
          <a href="#">Facebook</a>
          <a href="#">Instagram</a>
          <a href="#">Linkedin</a>
          <a href="#">Twitter</a>
        </div>
      </div>
    </div>
    <Footer />
  </footer>
</template>
<script>
import Footer from './Footer.vue'
export default {
  components: { Footer },
  data() {
    return {
      pages: []
    }
  }
}
</script>
