<template>
  <div class="footerFinal" :class="background">
    <div class="footerFinal__container contenedor">
      <div class="first">
        <a href="#">Políticas de protección de datos</a>
        <span> | </span>
        <a href="#">Términos y condiciones</a>
        <span> | </span>
        <a href="#">Protocolo de Protección de datos</a>
      </div>
      <div class="second">
        <span class="copy">&copy; 2010-2021 Weeare</span>
        <Button>
          <span>Ayuda</span>
          <Question />
        </Button>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '../base/Button'
import Question from './Icons/Question'
export default {
  components: {
    Button,
    Question
  },
  props: {
    background: {
      type: String,
      default: ''
    }
  }
}
</script>

<style></style>
