<template>
  <header class="headerLanding" :class="background ? 'active_2' : ''">
    <nav class="headerLanding__container">
      <div class="headerLanding__container--logo">
        <div class="menu" @click="toggleMenu()">
          <font-awesome-icon v-if="!active" :icon="['fas', 'bars']" />
          <font-awesome-icon v-else :icon="['fas', 'times']" />
        </div>
        <div class="logo">
          <nuxt-link to="/new-landing">
            <img src="~/assets/images/logo-blanco.png" alt="Weeare Logo" />
          </nuxt-link>
        </div>
      </div>
      <div class="headerLanding__container--list">
        <div class="item dropdown-list">
          <span>
            Servicios &nbsp;
            <font-awesome-icon :icon="['fas', 'chevron-down']" />
          </span>
          <ul>
            <li><a @click="go('beneficios')">Beneficios</a></li>
            <li><a @click="go('regalos')">Regalos</a></li>
            <li><a @click="go('pedidos')">Pedidos</a></li>
          </ul>
        </div>
        <nuxt-link to="/about" class="item">Sobre Weeare</nuxt-link>
        <nuxt-link to="/" class="item">Contacto</nuxt-link>
      </div>
    </nav>
    <Menu :class="active ? 'menuActive' : ''" @submit="toggleMenu" />
  </header>
</template>
<script>
import Menu from './Menu'
export default {
  name: 'Header',
  components: {
    Menu
  },
  props: {
    background: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      active: false
    }
  },
  mounted() {
    this.scrolling()
  },
  methods: {
    scrolling() {
      document.addEventListener(
        'scroll',
        () => {
          const navbar = document.querySelector('.headerLanding')
          navbar.classList.toggle('active', window.scrollY > 50)
        },
        { passive: true }
      )
    },
    go(ancla) {
      if (this.$nuxt.$route.name === 'new-landing') {
        const el = document.getElementById(ancla)
        el.scrollIntoView({ behavior: 'smooth' })
      } else {
        this.$router.push('new-landing')
        setTimeout(() => {
          const el = document.getElementById(ancla)
          el.scrollIntoView({ behavior: 'smooth' })
        }, 500)
      }
    },
    toggleMenu() {
      this.active = !this.active
    }
  }
}
</script>
