<template>
  <div class="hero">
    <div class="hero__container contenedor">
      <div class="hero__container--text">
        <h1>
          Conectamos empresas para generar más negocios<span class="color-main"
            >.</span
          >
        </h1>
        <p class="color-main">
          Nos integramos a las empresas para crear sinergias entre ellas a
          través de programas de beneficios y la venta en línea.
        </p>
        <Button>
          <!-- <img src="~/assets/images/landing/chat.svg" alt="Conversemos" /> -->
          <Chat />
          Conversemos
        </Button>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '../base/Button.vue'
import Chat from './Icons/Chat.vue'
export default {
  components: {
    Button,
    Chat
  }
}
</script>
