<template>
  <div class="menuComplete">
    <div class="menuComplete__container contenedor">
      <div class="first">
        <div class="menu">
          <nuxt-link to="/new-landing"
            ><span @click="closeMenu">Home</span></nuxt-link
          >
          <nuxt-link to="/about"
            ><span @click="closeMenu">Sobre weeare</span></nuxt-link
          >
          <a href="#">Trabaja con Nosotros</a>
          <a href="#">Servicio al cliente</a>
        </div>
        <div class="weeare">
          <div class="weeare__item">
            <div class="item">
              <span>weeare</span>
              <strong>Beneficios.</strong>
              <img
                src="~assets/images/landing/beneficios.png"
                alt="Beneficios"
              />
            </div>
            <div class="color gray">
              <a href="#">Entrar</a>
            </div>
          </div>
          <div class="weeare__item">
            <div class="item">
              <span>weeare</span>
              <strong>Regalos.</strong>
              <img src="~assets/images/landing/regalos.png" alt="Regalos" />
            </div>
            <div class="color black">
              <a href="#">Entrar</a>
            </div>
          </div>
          <div class="weeare__item">
            <div class="item">
              <span>weeare</span>
              <strong>Pedidos.</strong>
              <img src="~assets/images/landing/pedidos.png" alt="Pedidos" />
            </div>
            <div class="color main">
              <a href="#">Entrar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="second">
        <span>Contácto</span>
        <a href="#">+51 345 555</a>
        <a href="#">hola@weeare.pe</a>
        <a href="#">soporte@weeare.pe</a>
        <div class="social">
          <a href="#">
            <img src="~assets/images/landing/face.png" alt="Facebook" />
          </a>
          <a href="#">
            <img src="~assets/images/landing/ig.png" alt="Instagram" />
          </a>
        </div>
      </div>
    </div>
    <Footer class="footerMenu" background="background-light" />
  </div>
</template>

<script>
import Footer from './Footer'
export default {
  components: {
    Footer
  },
  methods: {
    closeMenu() {
      this.$emit('submit')
    }
  }
}
</script>
