<template>
  <div class="partners">
    <div class="partners__container contenedor">
      <span class="color-main">Partners</span>
      <h2>Juntos innovamos para lograr grandes resultados.</h2>
      <div class="partners__container--slider">
        <client-only>
          <vue-tiny-slider
            class="home__banner_principal"
            v-bind="tinySliderOptions"
          >
            <div v-for="c in company" :key="c.id">
              <div class="item">
                <img :src="c.image" alt="" />
              </div>
            </div>
          </vue-tiny-slider>
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tinySliderOptions: {
        controls: false,
        mouseDrag: true,
        nav: true,
        speed: 600,
        autoplayTimeout: 5000,
        autoplay: true,
        autoplayButtonOutput: false,
        navPosition: 'bottom',
        loop: true,
        items: 2,
        responsive: {
          900: {
            items: 7
          },
          500: {
            items: 4
          },
          400: {
            items: 3
          }
        }
      },
      company: [
        {
          id: 1,
          name: 'bbva',
          image:
            'https://www.bbva.com/wp-content/themes/coronita-bbvacom/assets/images/logos/logo-amp.png'
        },
        {
          id: 2,
          name: 'reef',
          image: 'https://iconape.com/wp-content/files/au/354464/png/354464.png'
        },
        {
          id: 3,
          name: 'bbva',
          image:
            'https://www.bbva.com/wp-content/themes/coronita-bbvacom/assets/images/logos/logo-amp.png'
        },
        {
          id: 4,
          name: 'reef',
          image: 'https://iconape.com/wp-content/files/au/354464/png/354464.png'
        },
        {
          id: 5,
          name: 'bbva',
          image:
            'https://www.bbva.com/wp-content/themes/coronita-bbvacom/assets/images/logos/logo-amp.png'
        },
        {
          id: 6,
          name: 'reef',
          image: 'https://iconape.com/wp-content/files/au/354464/png/354464.png'
        },
        {
          id: 7,
          name: 'bbva',
          image:
            'https://www.bbva.com/wp-content/themes/coronita-bbvacom/assets/images/logos/logo-amp.png'
        },
        {
          id: 8,
          name: 'reef',
          image: 'https://iconape.com/wp-content/files/au/354464/png/354464.png'
        },
        {
          id: 9,
          name: 'bbva',
          image:
            'https://www.bbva.com/wp-content/themes/coronita-bbvacom/assets/images/logos/logo-amp.png'
        },
        {
          id: 10,
          name: 'reef',
          image: 'https://iconape.com/wp-content/files/au/354464/png/354464.png'
        }
      ]
    }
  }
}
</script>
