<template>
  <div class="weeare" :class="background">
    <div class="weeare__container contenedor">
      <div class="weeare__container--text">
        <h3>
          <span class="color-main">
            weeare<strong>{{ title }}</strong
            ><strong class="punto">.</strong>
          </span>
        </h3>
        <p>
          {{ description }}
        </p>
      </div>
      <div class="weeare__container--item">
        <div class="image"></div>
        <div class="text right">
          <p>
            Acceso privado y segmentado.
            <span class="color-main">
              Lorem ipsum dolor sit amet, consectetuer.
            </span>
          </p>
          <Button :type-button="typeButton">
            Ver más <font-awesome-icon :icon="['fas', 'chevron-right']" />
          </Button>
        </div>
        <div class="text left">
          <p>
            Validación, geolocalización, leads, descuentos,
            <span class="color-main">
              códigos, categorías, y mucho más.
            </span>
          </p>
          <Button :type-button="typeButton">
            Ver más <font-awesome-icon :icon="['fas', 'chevron-right']" />
          </Button>
        </div>
        <div class="image"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '../base/Button.vue'
export default {
  components: { Button },
  props: {
    title: {
      type: String,
      default: 'Beneficios'
    },
    description: {
      type: String,
      default:
        'Plataforma de beneficios segmentados con más de 600 establecimientos afiliados'
    },
    background: {
      type: String,
      default: 'white'
    },
    typeButton: {
      type: String,
      default: 'main'
    }
  }
}
</script>
